

/*Gaptracker*/

div#StorePerf_All1 table.custom tbody tr td:nth-child(2),
div#StorePerf_All1 table.custom tbody tr td:nth-child(3) {
    text-align: left;
}

/*colors the inner table borders*/
table.custom tr td {
    border: 1px solid black;
}

div#StorePerf_All1 tr.complete td:nth-child(1), tr.complete td:nth-child(2), tr.complete td:nth-child(3), tr.complete td:nth-child(4),
tr.complete td:nth-child(5), tr.complete td:nth-child(6), tr.complete td:nth-child(7), tr.complete td:nth-child(8) {
    background-color: #838383 !important;
}

/*div#StorePerf_All1 table.custom tbody tr td:nth-child(1), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: center !important;
}*/

table.canselect.custom {
    width: 940px;
}

div#StorePerf_All1 table.custom {
    width: 821px;
    border: 1px solid black;
}

table.custom.tablesorter {
    width: 970px;
}

div#StorePerf_All1 table.custom tbody {
    max-height: 250px;
}

div#StorePerf_All1 table.custom thead tr th, div#StorePerf_All1 table.custom tfoot tr th {
    border: 1px solid #000000;
    background-color: #234187;
    font-size: 14px;
}

div#CHW_GapT_All1_filters {
    margin-top: 260px;
    margin-left: 262px;
    margin-bottom: 20px;
    width: 948px;
}

#rowCountStyle {
    top: 222px;
    position: absolute;
    left: 83px;
    color: #000000;
}

div#StorePerf_All1 table.custom thead tr th:nth-child(7), div#StorePerf_All1 table.custom tbody tr td:nth-child(7) {
    display: none;
}

/*END Gaptracker*/

/*Profit Projection*/
#profitProjection {
    position: fixed;
    margin: 14px 0 0 236px;
}

td.regColorCell {
    border-bottom: 1px solid #4D4D4D;
    text-align: center;
}

.colorCell {
    background-color: #24ace6;
    border-bottom: 1px solid #ffffff;
    width: 164px;
    text-align: right;
    padding-right: 10px;
}

.breakColorCell {
    background-color: #244085;
    border-bottom: 1px solid #ffffff;
    width: 164px;
    text-align: right;
    padding-right: 10px;
}

    .breakColorCell p {
        color: #ffffff;
    }

.breakCell {
    text-align: center;
    border-bottom: 1px solid #4D4D4D;
}

.salesColorCell {
    background-color: #7fc57c;
    width: 164px;
    text-align: right;
    padding-right: 10px;
}

    .salesColorCell p {
        color: #ffffff;
    }

.salesCell {
    text-align: center;
}

.colorCell p {
    color: #ffffff;
}

#buttonTable {
    margin: 64px 0 0 236px;
}

#calculate {
    padding-left: 71px;
    padding-bottom: 2px;
}

#breakEven {
    padding-left: 21px;
}

#salesIncrease {
    padding-left: 14px;
    padding-bottom: 2px;
}

p {
    font-size: 17px;
    font-family: "Source Sans Pro", Sans-Serif;
    color: #4D4D4D;
    margin: 10px 0 11px 15px;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('SourceSansPro-Regular.ttf') format('truetype');
}

#profitProjection input {
    font-size: 17px;
    font-family: "Source Sans Pro", Sans-Serif;
    color: #4D4D4D;
    text-align: center;
    outline: 0;
    background-color: lightgray;
    width: 140px;
    margin-left: 15px;
}

/*End Profit Projection*/

/*div.footertext {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    width: 800px;
    font-family: Candara;
    color: #0353A8;
    text-align: center;
    border: 0px solid red;
    margin: 0 auto;
}

div.SourceTextContainer {
    position: absolute;
    margin: auto;
    text-align: center;
    border: 0px solid red;
    bottom: 5px;
}

div.SourceText2 {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 60%;
    border: 0px solid red;
}

div.SourceText {
    position: absolute;
    margin-left: 48px;
    margin-top: 629px;
    font-size: 75%;
    border: 0px solid red;
}

div.ChainTotalText {
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    font-family: Candara;
    color: #0353A8;
    left: 70px;
}

td.HeadTitle {
    background-color: #e26d03;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
}

.parentDisable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #aaa;
}*/

#popup {
    position: absolute;
    margin: 2%;
    width: 690px !important;
    color: #000;
    background-color: transparent;
    -webkit-border-radius: 4px;
    border: 6px solid black;
}

    #popup > div > div > img {
        width: 689px;
        height: 476px;
    }

.end {
    z-index: 99;
    position: relative;
    float: right;
    margin-top: -23px;
    margin-right: -17px;
    -webkit-border-radius: 4px;
}

.PopupImage {
    margin: 25px 0px 25px 25px;
}

/*.displays_home1_button {
    position: absolute;
    margin-left: 5px;
    margin-top: 615px;
    width: 55px;
    height: 55px;
}*/

.displays_endcap1_button {
    position: absolute;
    margin-left: 477px;
    margin-top: 396px;
    width: 308px;
    height: 36px;
    border: 0px solid blue;
}

/*.displays_endcap1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 228px;
    width: 253px;
    height: 28px;
}*/

/*.priorityitems_organiccoconut1_button {
    position: absolute;
    margin-left: 821px;
    margin-top: 390px;
    width: 130px;
    height: 20px;
}*/

.displays_pallet1_button {
    position: absolute;
    margin-left: 438px;
    margin-top: 322px;
    width: 238px;
    height: 37px;
    border: 0px solid blue;
}

/*.displays_pallet1_button2 {
    position: absolute;
    margin-left: 221px;
    margin-top: 355px;
    width: 35px;
    height: 75px;
}*/

/*.priorityitems_keratin1_button {
    position: absolute;
    margin-left: 421px;
    margin-top: 523px;
    width: 525px;
    height: 25px;
}*/

.displays_sidekick1_button {
    position: absolute;
    margin-left: 377px;
    margin-top: 174px;
    width: 260px;
    height: 37px;
    border: 0px solid blue;
}

/*.displays_sidekick1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 300px;
    width: 210px;
    height: 25px;
}*/

.displays_clipstrip1_button {
    position: absolute;
    margin-left: 571px;
    margin-top: 461px;
    width: 289px;
    height: 37px;
    border: 0px solid blue;
}

/*.displays_clipstrip1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 332px;
    width: 235px;
    height: 28px;
}*/

/*.displays_tierrack1_button {
    position: absolute;
    margin-left: 40px;
    margin-top: 615px;
    width: 285px;
    height: 55px;
}*/

/*GraphContainer {
    margin-top: 170px;
    margin-left: 55px;
    border: 1px solid red;
}*/

/*District Comp*/
div#slsdata_distcomp1 > div > table {
    max-height: 350px;
    margin-top: 152px;
    margin-left: 25px;
}

    /*div#slsdata_distcomp1 > div > table tbody tr td {
        border: 1px solid #ababab;
    }*/

    div#slsdata_distcomp1 > div > table tbody tr td:nth-child(1) {
        text-align: center;
    }

    div#slsdata_distcomp1 > div > table thead tr th:nth-child(2), div#slsdata_distcomp1 > div > table thead tr th:nth-child(3) {
        text-align: left;
        /*font-size: 17px;*/
    }

    div#slsdata_distcomp1 > div > table tbody tr td:nth-child(2), div#slsdata_distcomp1 > div > table tbody tr td:nth-child(3) {
        text-align: left;
        /*font-size: 17px;*/
    }

    div#slsdata_distcomp1 > div > table tbody tr td:nth-child(4) {
        padding-right: 25px;
    }

#tblslsdata_distcomp1 > tbody > tr {
    height: 40px;
}

div#slsdata_distcomp1 table.custom tbody tr td {
    vertical-align: middle;
    font-size: 13px;
    font-family: Verdana, Geneva, sans-serif;
}

table#tblslsdata_distcomp1 tr.header {
    display: none;
}


table#tblslsdata_distcomp1 {
    border: 0;
}

#tblslsdata_distcomp1 > tbody > tr > td:nth-child(1),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(2),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(3),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(4),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(5),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(6),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(7),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(8) {
    border: 0;
}

#tblslsdata_distcomp1 > tbody > tr > td:nth-child(1),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(2),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(3),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(4),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(5),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(6),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(7),
#tblslsdata_distcomp1 > tbody > tr > td:nth-child(8) {
    border-right: 2px solid white;
}

#tblslsdata_distcomp1 > tbody > tr:nth-child(odd) td {
    background-color: #EBEBEB;
}

div#slsdata_distcomp1 table.custom {
    width: 940px;
}
/*END District Comp*/





div#slsdata_pos1 table.custom tbody tr td {
    text-align: center;
}




div#slsdata_pos1 table.custom {
    width: 939px;
    margin-top: 163px;
}

table#tblslsdata_pos1 {
    border: 0;
}

#tblslsdata_pos1 > tbody > tr {
    height: 40px;
}

table#tblslsdata_pos1 tr.header {
    display: none;
}

div#slsdata_pos1 table.custom thead tr th {
    background-color: #80C57B;
}

    div#slsdata_pos1 table.custom thead tr th:nth-child(1) {
        background-color: #234186;
        text-align: left;
    }

div#slsdata_pos1 table.custom tbody {
    max-height: 200px;
}

    div#slsdata_pos1 table.custom tbody tr td:nth-child(1) {
        text-align: left;
        padding-left: 15px;
    }

    div#slsdata_pos1 table.custom tbody tr td {
        vertical-align: middle;
        font-size: 15px;
        font-family: Verdana, Geneva, sans-serif;
    }

#tblslsdata_pos1 tbody tr:nth-child(5) td {
    font-weight: 600;
}

#tblslsdata_pos1 > tbody > tr > td:nth-child(1),
#tblslsdata_pos1 > tbody > tr > td:nth-child(2),
#tblslsdata_pos1 > tbody > tr > td:nth-child(3),
#tblslsdata_pos1 > tbody > tr > td:nth-child(4),
#tblslsdata_pos1 > tbody > tr > td:nth-child(5) {
    border: 0;
}

#tblslsdata_pos1 > tbody > tr > td:nth-child(1),
#tblslsdata_pos1 > tbody > tr > td:nth-child(2),
#tblslsdata_pos1 > tbody > tr > td:nth-child(3),
#tblslsdata_pos1 > tbody > tr > td:nth-child(4) {
    border-right: 2px solid white;
}

#tblslsdata_pos1 > tbody > tr:nth-child(odd) td {
    background-color: #EBEBEB;
}


div#priorityitems_promoteditems1 table.custom {
    margin-top: 104px;
    margin-left: 23px;
    max-width: 941px;
    border: none;
    line-height: 25px;
}

    div#priorityitems_promoteditems1 table.custom tbody {
        max-height: 420px;
    }

        div#priorityitems_promoteditems1 table.custom tbody tr td {
            text-align: left;
        }

#priorityitems_promoteditems1 > div > table > thead > tr > th {
    background: none;
    height: 32px;
}

div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(1) {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    background: transparent;
    border: none;
}


div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(2), div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(3), div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(4), div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(5) {
    /*background-color: #80C57B;*/
    background-color: transparent;
    font-size: 18px;
    font-weight: normal;
    padding-left: 12px;
    border: none;
}


div#priorityitems_promoteditems1 table.custom tbody tr td {
    border: 2px solid white;
}

    div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(1) {
        text-align: left;
        font-weight: bold;
        padding-left: 15px;
    }

    div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(2), div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(3), div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(4), div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(5) {
        text-align: left;
        padding-left: 8px;
    }

#priorityitems_promoteditems1 > div > table > tbody > tr > td:nth-child(3) {
    padding-right: 16px;
}

#priorityitems_promoteditems1 > div > table > tbody > tr > td:nth-child(4) {
    padding-right: 17px;
}

div#priorityitems_promoteditems1 table.custom tbody tr:nth-child(even) td {
    background-color: #EBEBEB;
}

div#displays_promosellthru1 table.custom {
    margin-top: 108px;
    margin-left: 24px;
    width: 939px;
    border: none;
}

    div#displays_promosellthru1 table.custom tbody {
        max-height: 300px;
    }

        div#displays_promosellthru1 table.custom tbody tr td:nth-child(1) {
            text-align: left;
            /*font-weight: bold;*/
            padding-left: 8px;
            border: 1px solid white;
        }

        div#displays_promosellthru1 table.custom tbody tr td:nth-child(2),
        div#displays_promosellthru1 table.custom tbody tr td:nth-child(3),
        div#displays_promosellthru1 table.custom tbody tr td:nth-child(4),
        div#displays_promosellthru1 table.custom tbody tr td:nth-child(5),
        table.custom tbody tr td:nth-child(6),
        table.custom tbody tr td:nth-child(7),
        table.custom tbody tr td:nth-child(8) {
            text-align: center;
            font-weight: normal;
            border: 1px solid white;
        }

#tbldisplays_promosellthru1 > thead {
    height: 44px;
}

    #tbldisplays_promosellthru1 > thead > tr > th.header {
        background: transparent;
    }

div#displays_promosellthru1 table.custom thead tr th {
    background-color: transparent;
    font-size: 12px;
    color: transparent;
    text-align: center;
    border: none;
}

    div#displays_promosellthru1 table.custom thead tr th:nth-child(1) {
        /*background-color: #22AEE4;*/
        text-align: left;
        font-size: 16px;
    }

#tbldisplays_promosellthru1 > tbody > tr:nth-child(odd) td {
    background-color: #EBEBEB;
}

div#DP_Pet1 table.custom {
    width: 980px;
}

    div#DP_Pet1 table.custom tbody tr td:nth-child(2) {
        text-align: left;
    }

    div#DP_Pet1 table.custom tbody tr td:nth-child(1) {
        text-align: center;
    }

    div#DP_Pet1 table.custom tbody tr td:nth-child(9), div#DP_Pet1 table.custom thead tr th:nth-child(9), div#DP_Pet1 table.custom tbody tr td:nth-child(12), div#DP_Pet1 table.custom thead tr th:nth-child(12), div#DP_Pet1 table.custom tbody tr td:nth-child(13), div#DP_Pet1 table.custom thead tr th:nth-child(13), div#DP_Pet1 table.custom tbody tr td:nth-child(14), div#DP_Pet1 table.custom thead tr th:nth-child(14) {
        display: none;
        width: 0;
    }

div#DP_Cnsmr1 table.custom {
    width: 980px;
}

    div#DP_Cnsmr1 table.custom tbody tr td:nth-child(2) {
        text-align: left;
    }

    div#DP_Cnsmr1 table.custom tbody tr td:nth-child(1) {
        text-align: center;
    }

    div#DP_Cnsmr1 table.custom tbody tr td:nth-child(9), div#DP_Cnsmr1 table.custom thead tr th:nth-child(9), div#DP_Cnsmr1 table.custom tbody tr td:nth-child(12), div#DP_Cnsmr1 table.custom thead tr th:nth-child(12), div#DP_Cnsmr1 table.custom tbody tr td:nth-child(13), div#DP_Cnsmr1 table.custom thead tr th:nth-child(13), div#DP_Cnsmr1 table.custom tbody tr td:nth-child(14), div#DP_Cnsmr1 table.custom thead tr th:nth-child(14) {
        display: none;
        width: 0;
    }

div.ImportantStatsHeader {
    position: absolute;
    top: 550px;
    left: 40px;
    text-align: right;
    width: 220px;
    font-size: 24px;
    font-weight: bold;
    border: 0px solid red;
}

table.SmartText {
    position: absolute;
    top: 606px;
    left: 355px;
    border: 0px solid red;
    border-collapse: separate;
    overflow-y: visible;
    width: 482px;
}

    table.SmartText thead tr th:nth-child(1), table.SmartText thead tr th:nth-child(2), table.SmartText tbody tr td:nth-child(2), table.SmartText tbody tr td:nth-child(3), table.SmartText thead tr th:nth-child(3), table.SmartText tbody tr td:nth-child(4), table.SmartText thead tr th:nth-child(4) {
        display: none;
    }

    table.SmartText thead tr th:nth-child(1), table.SmartText thead tr th:nth-child(2) {
        width: 482px;
    }

    table.SmartText thead tr th:nth-child(3) {
        width: 40px;
    }

    table.SmartText tbody tr td {
        font-size: 15px;
        font-weight: bold;
        border: 0px solid red;
        font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
        color: #203842;
    }

        table.SmartText tbody tr td:nth-child(1) {
            text-align: left;
        }

        table.SmartText tbody tr td:nth-child(2) {
            text-align: right;
        }

div#selected-info {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    margin: 0 auto;
}

#selected-info {
    margin: 0 auto;
    width: 940px;
}

.link {
    font-size: 20px;
    font-weight: normal;
    border: 0px solid red;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #263F78;
    float: center;
}


#DEMO_PC_IC1_filters {
    margin-top: 94px;
    margin-left: 418px;
    position: absolute;
    background: transparent;
}

#clearItemPen {
    position: absolute;
    margin-top: 77px;
    margin-left: 583px;
}

#clearitempen2 {
    background: transparent;
    width: 44px;
    height: 23px;
    border: 0px solid blue;
}


#DEMO_PC_IC1_filters > button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    background: transparent;
    border: none;
}

#tblDEMO_PC_IC1 > tbody {
    max-height: 319px;
}


#tblDEMO_PC_IC1 > thead > tr > th:nth-child(1), #tblDEMO_PC_IC1 > thead > tr > th:nth-child(2),
#tblDEMO_PC_IC1 > thead > tr > th:nth-child(3), #tblDEMO_PC_IC1 > thead > tr > th:nth-child(4),
#tblDEMO_PC_IC1 > thead > tr > th:nth-child(5), #tblDEMO_PC_IC1 > thead > tr > th:nth-child(6),
#tblDEMO_PC_IC1 > thead > tr > th:nth-child(7), #tblDEMO_PC_IC1 > thead > tr > th:nth-child(8),
#tblDEMO_PC_IC1 > thead > tr > th:nth-child(9) {
    background: transparent;
    border: none;
}

#tblDEMO_PC_IC1 > tbody > tr > td:nth-child(5) {
    padding-left: 14px;
}

#tblDEMO_PC_IC1 > tbody > tr > td:nth-child(6) {
    padding-left: 81px;
}

#tblDEMO_PC_IC1 > tbody > tr > td:nth-child(7) {
    padding-left: 38px;
}


div#PC_IC1 table.custom {
    position: absolute;
    width: 942px;
    max-height: 334px;
    margin-top: 130px;
    margin-left: 25px;
    border: none;
    overflow: hidden;
}

    div#PC_IC1 table.custom tbody tr td:nth-child(3) {
        text-align: left;
    }

    div#PC_IC1 table.custom tbody tr td:nth-child(1), div#PC_IC1 table.custom tbody tr td:nth-child(2), div#PC_IC1 table.custom tbody tr td:nth-child(8), div#PC_IC1 table.custom tbody tr td:nth-child(9) {
        text-align: center;
    }

    div#PC_IC1 table.custom tbody tr td {
        padding-top: 8px;
        font-size: 13px;
        border: none;
    }

        div#PC_IC1 table.custom tbody tr td:nth-child(8), div#PC_IC1 table.custom tbody tr td:nth-child(9) {
            padding-top: 0px;
        }

div#PC_FC1 table.custom {
    width: 1000px;
}

    div#PC_FC1 table.custom tbody tr td:nth-child(3) {
        text-align: left;
    }

    div#PC_FC1 table.custom tbody tr td:nth-child(1), div#PC_FC1 table.custom tbody tr td:nth-child(2), div#PC_FC1 table.custom tbody tr td:nth-child(8), div#PC_FC1 table.custom tbody tr td:nth-child(9) {
        text-align: center;
    }

    div#PC_FC1 table.custom tbody tr td {
        padding-top: 8px;
    }

        div#PC_FC1 table.custom tbody tr td:nth-child(8), div#PC_FC1 table.custom tbody tr td:nth-child(9) {
            padding-top: 0px;
        }

div#BCL_All1filters, table#tblBCL_All1 {
    margin: 0 auto;
    width: 940px;
}

div#BCL_All1 > div {
    padding-top: 10px;
    padding-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

div#BCL_All1 table > tbody {
    max-height: 450px;
}

div#BCL_All1 table.custom tr td {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: black;
}

div#BCL_All1 table.custom tbody tr td:nth-child(6), div#BCL_All1 table.custom thead tr th:nth-child(6) {
    display: none;
}

div#BCL_All1 table.custom tbody tr td:nth-child(1), div#BCL_All1 table.custom tbody tr td:nth-child(2), div#BCL_All1 table.custom tbody tr td:nth-child(3) {
    text-align: left;
}

div#BCL_All1 > div > div > span {
    font-weight: bold;
    font-size: 15px;
}

/**********DISPLAY CALC START***********/

#DEMO_DC_All1_filters {
    position: absolute;
    margin-left: 18px;
    margin-top: 93px;
    padding-left: 5px;
}

#clearDispCalc {
    position: absolute;
    margin-top: 77px;
    margin-left: 916px;
}

#cleardispcalc2 {
    position: absolute;
    background: transparent;
    border: 0px solid blue;
    height: 24px;
    width: 43px;
}

#DEMO_DC_All1_filters > span:nth-child(1), #DEMO_DC_All1_filters > span:nth-child(4), #DEMO_DC_All1_filters > span:nth-child(7) {
    visibility: hidden;
}


#DEMO_DC_All1_filters > button:nth-child(3), #DEMO_DC_All1_filters > button:nth-child(6), #DEMO_DC_All1_filters > button:nth-child(9) {
    background: transparent;
    border: none;
}

#tblDEMO_DC_All1 > tbody {
    max-height: 392px;
}


#tblDEMO_DC_All1 > thead > tr > th:nth-child(1), #tblDEMO_DC_All1 > thead > tr > th:nth-child(2),
#tblDEMO_DC_All1 > thead > tr > th:nth-child(3), #tblDEMO_DC_All1 > thead > tr > th:nth-child(4),
#tblDEMO_DC_All1 > thead > tr > th:nth-child(5), #tblDEMO_DC_All1 > thead > tr > th:nth-child(6),
#tblDEMO_DC_All1 > thead > tr > th:nth-child(7), #tblDEMO_DC_All1 > thead > tr > th:nth-child(8),
#tblDEMO_DC_All1 > thead > tr > th:nth-child(9) {
    background: transparent;
    border: none;
}

#tblDEMO_DC_All1 > tbody > tr > td:nth-child(5) {
    padding-left: 14px;
}

#tblDEMO_DC_All1 > tbody > tr > td:nth-child(6) {
    padding-left: 36px;
}

#tblDEMO_DC_All1 > tbody > tr > td:nth-child(7) {
    padding-left: 11px;
}


div#DC_All1 table.custom {
    position: absolute;
    width: 942px;
    max-height: 405px;
    margin-top: 130px;
    margin-left: 25px;
    border: none;
    overflow: hidden;
}

    div#DC_All1 table.custom tbody tr td:nth-child(3) {
        text-align: left;
    }

    div#DC_All1 table.custom tbody tr td:nth-child(1), div#PC_IC1 table.custom tbody tr td:nth-child(2), div#PC_IC1 table.custom tbody tr td:nth-child(8), div#PC_IC1 table.custom tbody tr td:nth-child(9) {
        text-align: center;
    }

    div#DC_All1 table.custom tbody tr td {
        padding-top: 8px;
        font-size: 12px;
        border-top: 1px dashed lightgrey;
        border-bottom: 1px dashed lightgrey;
        border-left: none;
        border-right: none;
    }


        div#DC_All1 table.custom tbody tr td:nth-child(2) {
            text-align: left;
        }

        div#DC_All1 table.custom thead tr th:nth-child(10), div#DC_All1 table.custom tbody tr td:nth-child(10), div#DC_All1 table.custom thead tr th:nth-child(11), div#DC_All1 table.custom tbody tr td:nth-child(11), div#DC_All1 table.custom thead tr th:nth-child(12), div#DC_All1 table.custom tbody tr td:nth-child(12) {
            display: none;
        }


#tblDEMO_DC_All1 > tbody > tr > td:nth-child(7) > input[type=tel] {
    text-align: center;
    background: #ebebeb;
    border: none;
}

#divDCSummary {
    position: absolute;
    margin-left: 230px;
    margin-top: 522px;
}

    #divDCSummary > table > tbody {
        position: absolute;
    }

#tblDEMO_DC_All1_tdCases {
    position: absolute;
    border: 0px solid blue;
    width: 112px;
    margin-left: 10px;
    margin-top: 87px;
    color: gray;
    font-size: 19px;
}

#tblDEMO_DC_All1_tdItems {
    position: absolute;
    border: 0px solid blue;
    width: 112px;
    margin-left: 141px;
    margin-top: 87px;
    color: gray;
    font-size: 19px;
}

#tblDEMO_DC_All1_wm_netValue {
    position: absolute;
    border: 0px solid blue;
    width: 112px;
    margin-left: 273px;
    margin-top: 87px;
    color: gray;
    font-size: 19px;
}

#tblDEMO_DC_All1_tdSales {
    position: absolute;
    border: 0px solid blue;
    width: 112px;
    margin-left: 401px;
    margin-top: 87px;
    color: black;
    font-size: 19px;
}



/***********DISPALY CALC END*************/



/***********PRIORITY ITEMS START************/

div#priorityitems_top15OSA1 table.custom {
    margin-top: 0px;
    margin-left: 25px;
    width: 941px;
    border: none;
    font-size: 12px;
    line-height: 15px;
}

    div#priorityitems_top15OSA1 table.custom tbody {
        max-height: 375px;
    }

    div#priorityitems_top15OSA1 table.custom thead tr th {
        /* background-color: #234186; */
        background: none;
        border: none;
        height: 19px;
    }

    div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(1) {
        text-align: center;
    }


    div#priorityitems_top15OSA1 table.custom tbody tr td {
        /* border: none; */
        border: 1px solid white;
    }

        div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(2), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(3) {
            text-align: left;
        }

    div#priorityitems_top15OSA1 table.custom thead th:nth-child(1), div#priorityitems_top15OSA1 table.custom thead th:nth-child(2), div#priorityitems_top15OSA1 table.custom thead th:nth-child(4), div#priorityitems_top15OSA1 table.custom thead th:nth-child(5), div#priorityitems_top15OSA1 table.custom thead th:nth-child(6), div#priorityitems_top15OSA1 table.custom thead th:nth-child(7) {
        text-align: center;
    }

    div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(2), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(4), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(5), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(6), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(7) {
        text-align: center;
    }


    div#priorityitems_top15OSA1 table.custom tbody tr:nth-child(even) td {
        background-color: #EBEBEB;
    }


/*******PRIORITY ITEMS END***********/


div#Top15OSA1_All1_filters {
    margin-top: 94px;
    margin-left: 445px;
    margin-bottom: 10px;
    font-size: 12px;
}

#sel {
    height: 21px;
    font-size: 13px;
}

#Top15OSA1_All1_filters > button {
    position: absolute;
    margin-top: -1px;
    margin-left: 21px;
    background: transparent;
    border: 0px solid red;
    width: 54px;
    height: 24px;
}

div#selected-info {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    margin: 0 auto;
}

#selected-info {
    margin: 0 auto;
    width: 940px;
}

div#Product {
    font-weight: bold;
}

div#OrderCode {
    font-weight: bold;
    text-align: right;
}

.ui-multiselect {
    width: 157px !important;
    height: 24px;
}

div#MED > div {
    text-align: center;
    width: 100%;
}

    div#MED > div > video {
        padding-top: 100px;
    }

.jqplot-table-legend tr {
    margin: 10px 15px;
}

    .jqplot-table-legend tr td:not(:first-child) {
        padding-left: 5px;
    }

.ui-multiselect span, .ui-multiselect-checkboxes span {
    font-size: 17px;
}

.ui-multiselect-checkboxes label input {
    position: relative;
    top: -2px;
    margin: 5px 7px;
}

.ui-icon {
    width: 18px;
    height: 18px;
    margin: 4px;
}

/*#divPCSummary {
    */ /* background-color: red; */ /*
    */ /* width: 10%; */ /*
    */ /* position: fixed; */ /*
    */ /* float: right; */ /*
    */ /* margin-top: 74px; */ /**/ /*
    */ /**/ /* right: 656px; */ /**/ /*
    */ /**/ /* left: 245px; */ /**/ /*
    position: absolute;
    */ /**/ /* float: right; */ /**/ /*
    right: 80px;
    */ /**/ /* top: 40px; */ /**/ /*
    bottom: 106px;
    */ /*
    position: absolute;
    bottom: 104px;
    left: 866px;

}*/

#divPCSummary .fldsetContent {
    color: #000000;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #000000;
}

#divPCSummary .legend {
    height: 17px;
    font: bold 14px arial;
    color: #151515;
    margin-left: 15px;
    padding: 2px 20px;
    border: solid 1px #000000;
    background: #E6E6E6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.profitTitle {
    font: bold 22px arial;
    color: Black;
    padding-right: 15px;
}

.profitPer, .profitPer > span {
    font: bold 22px arial;
    color: #149e22;
    padding-right: 30px;
}

#divPCSummary {
    position: absolute;
    margin-left: -32px;
    margin-top: 464px;
}

.pc_summary {
    padding: 10px;
    text-align: center;
}

.pc_summary_item {
    margin: 88px;
    padding: 10px 16px;
    border: none;
    background: transparent;
}

.pc_summary_valueField {
    position: absolute;
    /* padding-top: 3px; */
    font-size: 15px;
    font-weight: bold;
    width: 70px;
    /* border: 1px solid blue; */
    text-align: center;
    color: #03abae;
}

.pc_summary_operator {
    color: #385d8a;
    font-size: 45px;
    vertical-align: middle;
}

/*Lost Sales OSA*/

/*Formats the numbers*/
/*#divPCSummaryOSA {
    position: absolute;
    bottom: 104px;
    left: 866px;
}*/

#tblSCJ_OSA_LostSalesCalculator1_AddValue {
    position: absolute;
    margin-top: 146px;
    margin-left: 819px;
    border: 0px solid red;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

#tblSCJ_OSA_LostSalesCalculator1_NetValue {
    position: absolute;
    margin-top: 137px;
    margin-left: 652px;
    border: 0px solid red;
    width: 95px;
    text-align: center;
    vertical-align: middle;
}

div#SCJ_OSA_LostSalesCalculator1_filters {
    margin-top: 173px !important;
    margin-left: 573px !important;
}



/*Colors the header*/
/*div#OSA_LostSalesCalculator1 thead tr th {
    background: none;
}*/

table#tblSCJ_OSA_LostSalesCalculator1 {
    margin-top: 90px;
    margin-left: 24px;
    border: none;
}

div#priorityitems_LostSalesOSA1 table.custom thead tr th {
    /* background-color: #234186; */
    background: none;
    border: none;
    height: 26px;
}

/*colors the inner table borders*/
table#tblSCJ_OSA_LostSalesCalculator1 tr td {
    border: 1px solid white;
}

div#priorityitems_LostSalesOSA1 table.custom tbody tr td:nth-child(1), div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(2) {
    text-align: left;
}

div#priorityitems_LostSalesOSA1 table.custom tbody tr td:nth-child(2), div#priorityitems_LostSalesOSA1 table.custom tbody tr td:nth-child(3),
div#priorityitems_LostSalesOSA1 table.custom tbody tr td:nth-child(4), div#priorityitems_LostSalesOSA1 table.custom tbody tr td:nth-child(5) {
    text-align: center !important;
}

#tblSCJ_OSA_LostSalesCalculator1 > tbody > tr > td:nth-child(4) {
    padding-right: 18px;
}

#tblSCJ_OSA_LostSalesCalculator1 > tbody > tr > td:nth-child(5) {
    padding-right: 18px;
}

div#priorityitems_LostSalesOSA1 tbody tr td {
    padding-top: 10px;
    padding-bottom: 0px;
}

div#priorityitems_LostSalesOSA1 table.custom tbody tr td:nth-child(6) {
    padding-top: 1px;
}

div#priorityitems_LostSalesOSA1 table.custom tbody {
    max-height: 136px;
    font-size: 12px !important;
    width: 943px;
}

table#tblSCJ_OSA_LostSalesCalculator1 .checkboximage {
    background: url('../images/uncheckedCircle.png') no-repeat top left;
    width: 20px;
    height: 20px;
    margin: 7px;
}

    table#tblSCJ_OSA_LostSalesCalculator1 .checkboximage.checked {
        background: url('../images/checkedCircle.png') no-repeat top left;
        width: 20px;
        height: 20px;
        margin: 7px;
    }

div#priorityitems_LostSalesOSA1 table.custom tbody tr:nth-child(even) td {
    background-color: #EBEBEB;
}



/*END Lost Sales OSA*/


/*Price and Movement*/
/*Price and Movement Drop Down Override*/
#Demo_POS select#SelectDropDown {
    position: absolute;
    top: -2px;
    width: 204px;
    left: 531px;
    background-color: transparent;
    border: none;
    font-family: Georgia, Times New Roman, Serif;
    font-size: 13px;
    -webkit-appearance: none;
}

#Demo_POS table.POSBottomData thead tr th,
#Demo_POS table.POSBottomData tbody tr td {
    text-align: left;
}

#Demo_POS select#SelectDropDown2 {
    position: absolute;
    top: -2px;
    width: 204px;
    left: 285px;
    background-color: transparent;
    border: none;
    font-family: Georgia, Times New Roman, Serif;
    font-size: 13px;
    -webkit-appearance: none;
}

/* Override for hiding the Graph Legend*/
#Demo_POS table.jqplot-table-legend {
    display: none;
}

/*Positions the graph*/
div#grphDemo_POS {
    margin-top: 22px;
    margin-left: 56px;
}

/*Style the average and max table*/
table.POSBottomData {
    /*position: relative;
    margin-top: 7px;
    margin-left: 624px;
    bottom: 48px;*/
    width: 120px !important;
    border: none;
    font-size: 21px;
}

    table.POSBottomData thead tr th,
    table.POSBottomData tbody tr td {
        border: none;
        color: #000000;
    }

        /*Hides the average and max table data*/
        table.POSBottomData thead tr th:nth-child(1),
        table.POSBottomData thead tr th:nth-child(2),
        table.POSBottomData thead tr th:nth-child(3),
        table.POSBottomData thead tr th:nth-child(2),
        table.POSBottomData tbody tr td:nth-child(1),
        table.POSBottomData tbody tr td:nth-child(2) {
            display: none;
        }

table#tblDemo_POS {
    position: absolute;
    margin-left: 838px;
    margin-top: -314px;
    background-color: transparent;
}


#tblDemo_POS > tbody > tr > td {
    background-color: transparent;
}

table#tblDemo_POS_2 {
    position: absolute;
    margin-left: 838px;
    margin-top: -157px;
    background-color: transparent;
}


#tblDemo_POS_2 > tbody > tr > td {
    background-color: transparent;
}


/*END Style the aveg and max table*/
/*END Price and Movement*/


div#POSCC_Lowes1 > div {
    background: url('../images/ENR_Lowes_POS_Lowes1.jpg') no-repeat top left;
}

    div#POSCC_Lowes1 > div > div.graphfilters > select {
        background-color: transparent;
        border: 0px;
        color: #FFFFFF;
        font-family: Georgia, Times New Roman, Serif;
        width: 205px;
    }

    div#POSCC_Lowes1 > div > div.graphfilters {
        position: relative;
        left: 40px;
        top: 103px;
        display: block;
    }

    div#POSCC_Lowes1 > div > ul.graphradio {
        float: right;
        position: relative;
        right: 153px;
        display: none;
    }

    div#POSCC_Lowes1 > div > div.graph {
        width: 895px !important;
        height: 315px !important;
        display: block;
        font-size: 20px;
        color: black;
        margin-left: 33px;
        margin-top: 220px;
        outline: 0px solid #000;
        border: 0px solid red;
    }

    div#POSCC_Lowes1 > div > table.custom thead tr th, div#POSCC_Lowes1 > table.custom tfoot tr th {
        display: none;
    }

    div#POSCC_Lowes1 > div > table.custom {
        border: 0px solid #ababab;
        border-top: 0px solid #283e82;
        border-bottom: 0px solid #101c44;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        top: 100px;
        left: 280px;
    }

        div#POSCC_Lowes1 > div > table.custom tr td {
            background-color: #FFFFFF;
            border-top: 1px solid #ababab;
            border-left: 0px;
            border-right: 0px;
            padding: 6px;
            text-align: left;
            color: #4C4C4C;
        }

            div#POSCC_Lowes1 > div > table.custom tr td:nth-child(1), div#POSCC_Lowes1 > div > table.custom tr td:nth-child(2) {
                display: none;
            }

div.POSHeader {
    width: 732px !important;
    height: 50px !important;
    display: block;
    margin-left: 128px;
    margin-top: 200px;
    border: 0px solid red;
}

div.POSLightBlueTopBar {
    height: 50px;
    display: block;
    color: #1672C5;
    background-color: #EBECEE;
    border: 1px solid #ababab;
    border-bottom: 0px solid #ababab;
    float: left;
    overflow: hidden;
}

div.POSBlueInnerTopBarContainer {
    margin-top: 15px;
}

div.POSLightBlueInnerTopBar {
    color: #1672C5;
    text-align: center;
    font-size: 19px;
}

div.POSBlueTopBar {
    height: 50px;
    display: block;
    color: #FFFFFF;
    background-color: #0E76BD;
    border: 1px solid #ababab;
    border-bottom: 0px solid #ababab;
    float: left;
    overflow: hidden;
}

div.POSBlueInnerTopBar {
    color: #FFFFFF;
    text-align: center;
    font-size: 19px;
}

div#POS_Overview1 > div {
    background: url('../images/ENR_Lowes_POS_Overview1.jpg') no-repeat top left;
}

div#POS_Overview1 table.custom {
    width: 732px;
}

    div#POS_Overview1 table.custom tbody tr td:nth-child(1), div#POS_Overview1 table.custom tbody tr td:nth-child(5) {
        text-align: center;
        color: #1672C5;
    }

    div#POS_Overview1 table.custom tbody tr td:nth-child(2), div#POS_Overview1 table.custom tbody tr td:nth-child(3), div#POS_Overview1 table.custom tbody tr td:nth-child(4) {
        padding-right: 32px;
    }


div#TotalRetailValue, div#TotalProfit {
    position: absolute;
    margin-left: 811px;
    color: black;
    width: 102px;
    text-align: center;
    border: 0px solid blue;
    font-size: 20px;
}

div#TotalRetailValue {
    margin-top: 212px;
}

div#TotalProfit {
    margin-top: 430px;
}


/************************
PAR calculator table    
***********************/

#tblENR_PAR_HD_All1 {
    margin-top: 237px;
    margin-left: 24px;
    width: 939px;
    border: none;
}


    #tblENR_PAR_HD_All1 > thead > tr > th:nth-child(1), #tblENR_PAR_HD_All1 > thead > tr > th:nth-child(2),
    #tblENR_PAR_HD_All1 > thead > tr > th:nth-child(3), #tblENR_PAR_HD_All1 > thead > tr > th:nth-child(4),
    #tblENR_PAR_HD_All1 > thead > tr > th:nth-child(5), #tblENR_PAR_HD_All1 > thead > tr > th:nth-child(6) {
        background: transparent;
        border: none;
        color: transparent;
    }


    #tblENR_PAR_HD_All1 > tbody > tr > td {
        border-bottom: none;
        border-right: none;
        border-left: none;
        border-top: 1px lightgray dashed;
        text-align: center;
        padding-left: 4px;
    }

        #tblENR_PAR_HD_All1 > tbody > tr > td:nth-child(2) {
            text-align: left;
        }

#parCalcInput {
    text-align: center;
    background: #E8E8E8;
    border: none;
}

div#divPCSummaryPacCalcTotal {
    position: absolute;
    margin-left: 417px;
    margin-top: 160px;
    width: 44px;
    height: 24px;
    color: black;
    font-size: 23px;
    text-align: center;
}

div#divPCSummaryPacCalcGoal {
    position: absolute;
    margin-left: 544px;
    margin-top: 160px;
    width: 44px;
    height: 24px;
    color: black;
    font-size: 23px;
    text-align: center;
}


/*table#tblENR_PAR_HD_All1 {
    margin-top: 235px;
    width: 936px;
    border: none;
}

    table#tblENR_PAR_HD_All1 tbody {
        max-height: 392px;
    }

    Hides the sort image
    table#tblENR_PAR_HD_All1 thead tr .header {
        background-image: none;
    }*/


/*table.PAR {
    display: block;
    background-image: none;
    border: 1px solid #000000;
    font-size: 14px;
    border-collapse: collapse;  IE7 and lower 
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0px 0px 0px 0px;
}*/

/*table.PAR thead tr th, table.PAR tfoot tr th {
        font-size: 12px;
        color: #FFFFFF;
        padding: 9px 10px;
        background-color: #075699;
        text-align: left;
    }

    table.PAR tr td {
        background-color: #FFFFFF;
        border: 1px solid #000000;
        padding: 5px;
        color: #3d3d3d;
    }*/




/*div#ParCalc1 > div > table thead tr th:nth-child(1), div#ParCalc1 > div > table thead tr th:nth-child(2),
div#ParCalc1 > div > table thead tr th:nth-child(3), div#ParCalc1 > div > table thead tr th:nth-child(4),
div#ParCalc1 > div > table thead tr th:nth-child(5), div#ParCalc1 > div > table thead tr th:nth-child(6) {
    border: none;
    color: transparent;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid black;
}*/

/*div#ParCalc1 > div > table tbody tr td:nth-child(1), div#ParCalc1 > div > table tbody tr td:nth-child(2),
div#ParCalc1 > div > table tbody tr td:nth-child(3), div#ParCalc1 > div > table tbody tr td:nth-child(4),
div#ParCalc1 > div > table tbody tr td:nth-child(5), div#ParCalc1 > div > table tbody tr td:nth-child(6) {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px gray dashed;
    font-size: 13px;
}*/

/*div#ParCalc1 > div > table thead tr th:nth-child(3) {
    color: #0F4C8A;
     color: transparent;
}*/

/*div#ParCalc1 > div > table thead tr th:nth-child(4) {
    color: #D8182D;
    color: transparent;
}*/

/*div#ParCalc1 > div > table thead tr th:nth-child(5) {
    color: #02A373;
    color: transparent;
}*/

/*div#ParCalc1 > div > table thead tr th:nth-child(6) {
    color: #367FC6;
    color: transparent;
}*/

/*#parCalcInput {
    background-color: #EDEDED;
    border: none;
    text-align: center;
}

div#divPCSummaryPacCalcTotal {
    position: absolute;
    margin-left: 908px;
    margin-top: 153px;
    width: 29px;
    height: 24px;
    color: white;
    font-size: 23px;
}*/

/*****************************
PAR calculator table  (end)   
******************************/

/*****************************
LAG calculator table     
******************************/
#FourTierHaircareRack {
    position: absolute;
    margin-top: 505px;
    margin-left: 75px;
    width: 98px;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color: #e6e6e6;
    border: none;
}

#ClassicKeratinPallet {
    position: absolute;
    margin-top: 504px;
    margin-left: 319px;
    width: 96px;
    height: 37px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color: #e6e6e6;
    border: none;
}

#PureSidekick {
    position: absolute;
    margin-top: 505px;
    margin-left: 564px;
    width: 96px;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color: #e6e6e6;
    border: none;
}
/*****************************
LAG calculator table  (end)   
******************************/


/**********************************
    Display Distribution displays_displaydistribution1
***********************************/



div#displays_displaydistribution1 table.custom tbody {
    border: 0;
    border-left: 0;
    max-height: 190px;
}

    div#displays_displaydistribution1 table.custom tbody tr td:nth-child(1) {
        text-align: left;
        /*font-weight: bold;*/
        font-size: 12px;
    }

    div#displays_displaydistribution1 table.custom tbody tr td:nth-child(1) {
        text-align: left;
        border: 1px solid white;
        padding-left: 10px;
    }

    div#displays_displaydistribution1 table.custom tbody tr td:nth-child(2),
    div#displays_displaydistribution1 table.custom tbody tr td:nth-child(3) {
        /*font-size: 12px;*/
        text-align: center;
        /*font-weight: bold;*/
        border: 1px solid white;
    }

div#displays_displaydistribution1 table.custom thead tr th {
    background: transparent;
    border: none;
    height: 28px;
}

/*div#displays_displaydistribution1 table.custom thead tr th:nth-child(1) {
        background-color: #25AEE4;
        text-align: left;
        font-size: 16px;
    }*/

div#displays_displaydistribution1 table.custom tr td {
    border-left: 0;
    border-bottom: 0;
}

div#displays_displaydistribution1 table.custom {
    margin-top: 108px;
    margin-left: 24px;
    border-bottom: none;
    border-top: none;
    border: none;
    width: 939px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#tblDemo_DisplayDist > tbody > tr:nth-child(odd) td {
    background-color: #EBEBEB;
}


/**********************************
    Display Distribution (end)
**********************************/


/**********************************************************************
                IPAD MINIS with NORMAL DISPLAYS
**********************************************************************/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {

    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(2) {
        padding-right: 25px;
    }


    table#tblD82SBAisleTotals {
        width: 659px;
        margin-top: -19px;
        margin-left: 297px;
        border-top: 0;
        font-size: xx-small;
    }

    #aisleTotal {
        color: #03AAE1;
        margin-left: 230px;
        margin-top: 4px;
        font-size: 90%;
    }

    table#tblWWM_StockBalancing_D82 tbody tr td:nth-child(2) {
        text-align: left;
        font-size: 11px;
    }

    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(3) {
        padding-right: 17px;
    }


    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(4) {
        padding-right: 6px;
    }

    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(5), #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(6),
    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(7), #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(8),
    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(9), #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(10) {
        padding-right: 1px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(1), #tblD82SBAisleTotals > tbody > tr > td:nth-child(2), #tblD82SBAisleTotals > tbody > tr > td:nth-child(3),
    #tblD82SBAisleTotals > tbody > tr > td:nth-child(4), #tblD82SBAisleTotals > tbody > tr > td:nth-child(5), #tblD82SBAisleTotals > tbody > tr > td:nth-child(6),
    #tblD82SBAisleTotals > tbody > tr > td:nth-child(7), #tblD82SBAisleTotals > tbody > tr > td:nth-child(12) {
        padding-right: 6px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(13) {
        padding-right: 4px;
    }

    table#tblWWM_StockBalancing_D82 {
        margin-left: 23px;
    }

    table#tblWWM_SuggOrder_D82_All1 tbody {
        max-height: 386px;
    }
}


/**********************************************************************
                IPAD MINIS with Retina Displays
**********************************************************************/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {

    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(2) {
        padding-right: 25px;
    }


    table#tblD82SBAisleTotals {
        width: 650px;
        margin-top: -19px;
        margin-left: 306px;
        border-top: 0;
        font-size: xx-small;
    }

    #aisleTotal {
        color: #03AAE1;
        margin-left: 230px;
        margin-top: 4px;
        font-size: 90%;
    }


    table#tblWWM_StockBalancing_D82 tbody tr td:nth-child(2) {
        text-align: left;
        font-size: 11px;
    }


    #tblD82SBAisleTotals > tbody > tr > td:nth-child(1) {
        padding-right: 5px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(12) {
        padding-right: 4px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(13) {
        padding-right: 5px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(8) {
        padding-right: 3px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(10), #tblD82SBAisleTotals > tbody > tr > td:nth-child(11) {
        padding-right: 4px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(23) {
        padding-right: 4px;
    }
    /*#tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(3) {
        padding-right: 17px;
    }


    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(4) {
        padding-right: 6px;
    }

    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(5), #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(6),
    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(7), #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(8),
    #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(9), #tblWWM_StockBalancing_D82 > tbody > tr > td:nth-child(10) {
        padding-right: 1px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(1), #tblD82SBAisleTotals > tbody > tr > td:nth-child(2), #tblD82SBAisleTotals > tbody > tr > td:nth-child(3),
    #tblD82SBAisleTotals > tbody > tr > td:nth-child(4), #tblD82SBAisleTotals > tbody > tr > td:nth-child(5), #tblD82SBAisleTotals > tbody > tr > td:nth-child(6),
    #tblD82SBAisleTotals > tbody > tr > td:nth-child(7), #tblD82SBAisleTotals > tbody > tr > td:nth-child(12) {
        padding-right: 6px;
    }

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(13) {
        padding-right: 4px;
    }*/

    table#tblWWM_StockBalancing_D82 {
        margin-left: 23px;
    }

    table#tblWWM_SuggOrder_D82_All1 tbody {
        max-height: 386px;
    }

    /*

    

    #tblD82SBAisleTotals > tbody > tr > td:nth-child(13){

    }*/

}



/**********************************************************************
                IPAD MINIS with NORMAL DISPLAYS
**********************************************************************/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {

    #FourTierHaircareRack {
        position: absolute;
        margin-top: 505px;
        margin-left: 75px;
        width: 98px;
        height: 36px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        background-color: #e6e6e6;
        border: none;
    }

    #ClassicKeratinPallet {
        position: absolute;
        margin-top: 504px;
        margin-left: 319px;
        width: 96px;
        height: 37px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        background-color: #e6e6e6;
        border: none;
    }

    #PureSidekick {
        position: absolute;
        margin-top: 505px;
        margin-left: 564px;
        width: 96px;
        height: 36px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        background-color: #e6e6e6;
        border: none;
    }
}


/**********************************************************************
                IPAD MINIS with Retina Displays
**********************************************************************/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {

    FourTierHaircareRack {
        position: absolute;
        margin-top: 505px;
        margin-left: 75px;
        width: 98px;
        height: 36px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        background-color: #e6e6e6;
        border: none;
    }

    #ClassicKeratinPallet {
        position: absolute;
        margin-top: 504px;
        margin-left: 319px;
        width: 96px;
        height: 37px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 2px;
        background-color: #e6e6e6;
        border: none;
    }

    #tblSugOrd_All1 > tbody > tr > td > input[type="tel"] {
        text-align: center;
        height: 17px !important;
    }
}



/***************************************************************************
            CUSTOM PHOTO START
*****************************************************************************/


#divImageUpload {
    position: absolute;
    top: 109px;
    left: 109px;
    z-index: 0;
}

section {
    width: 100%;
    margin: auto;
    padding: 10px;
}

div#one {
    position: absolute;
    top: 64px;
    left: -46px;
    text-align: center;
    height: 165px;
    width: 241px;
    border: 0px solid crimson;
}

#preview1 {
    margin-top: -48px;
    margin-left: -99px;
    height: 232px;
    width: 231px;
}

/*button.upload_picture.button.button1,
button.upload_picture.button.button2 {
    color: transparent;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    text-shadow: none;
     box-shadow: none; 
}*/

.button1 {
    position: absolute;
    top: 263px;
    left: -48px;
    width: 147px;
    height: 33px;
}

#zoomPicture1 {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 144px;
    top: 224px;
    border: 0px solid orange;
}

div#two {
    position: absolute;
    top: 64px;
    left: 278px;
    height: 165px;
    width: 241px;
    text-align: center;
    border: 0px solid red;
}

.button2 {
    position: absolute;
    top: 263px;
    width: 147px;
    height: 33px;
    left: 242px;
}

#zoomPicture2 {
    height: 23px;
    width: 24px;
    position: absolute;
    left: 435px;
    top: 225px;
    border: 0px solid red;
}

#preview2 {
    margin-top: -48px;
    margin-left: -164px;
    width: 232px;
    height: 231px;
    border: none;
}


div#three {
    position: absolute;
    top: 29px;
    left: 555px;
    height: 179px;
    width: 227px;
    text-align: center;
    border: 2px solid red;
}

.button3 {
    position: absolute;
    top: 221px;
    width: 166px;
    left: 591px;
}

#zoomPicture3 {
    height: 23px;
    width: 23px;
    position: absolute;
    left: 823px;
    top: 168px;
    border: 0px solid blue;
}

div#four {
    position: absolute;
    top: 22px;
    left: 44px;
    text-align: center;
    height: 179px;
    width: 227px;
}

.button4 {
    position: absolute;
    top: 197px;
    left: 81px;
    width: 166px;
}

#zoomPicture4 {
    height: 23px;
    width: 23px;
    position: absolute;
    left: 303px;
    top: 162px;
    border: 0px solid green;
}


.button {
    border: solid 1px #25AEE4;
    background: #25AEE4;
    color: white;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    outline: none;
}

    .button:hover {
        background: #2FABDF;
        background: -webkit-gradient(linear, left top, left bottom, from(#25AEE4), to(#25AEE4));
        background: -moz-linear-gradient(top, #25AEE4, #25AEE4);
        color: white;
    }

    .button:active {
        position: absolute;
    }

.parentDisable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #aaa;
}

#popup {
    position: absolute;
    margin: 2%;
    color: #000;
    background-color: black;
    -webkit-border-radius: 6px;
    border: 3px solid black;
}

.end {
    z-index: 99;
    position: relative;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    -webkit-border-radius: 4px;
}




/***************************************************************************
            CUSTOM PHOTO END
****************************************************************************/


/***************************************************************************
            SUGGESTED ORDER PDF
****************************************************************************/



/*table#kgb, th, td {
    border: 1px solid red;
}*/

table#kgb {
    display: block;
    position: absolute;
}

#container1 {
    position: absolute;
    top: 120px;
}



/*Layout Style*/
.cellProductName {
    position: relative;
    bottom: -17px;
    left: 33px;
    width: 211px;
    border: 0px solid blue;
    color: white;
    /*text-align: center;*/
}

.cellProductImage {
    position: relative;
}

.cellBarcode {
    position: relative;
    left: 97px;
    bottom: 51px;
}







    .cellBarcode .upc-a {
        width: 150px;
        height: auto;
    }


        .cellBarcode .upc-a .upc-wrap .m {
            width: 1px !important;
        }

    .cellBarcode .digits {
        font-size: 9px;
        top: 20px;
    }

.l-prefix {
    margin-left: -25px;
}

.digits {
    font-family: monospace, Courier;
    font-size: 2em;
    display: inline;
    position: relative;
    top: 10px;
    letter-spacing: 0px;
}




/*Overview Formating*/
/*Core*/
#coreFamilyOutOfStockCounter {
    position: absolute;
    top: -115px;
    left: 434px;
    width: 50px;
    color: black;
}

#coreFamilyOutOfStockCounterContent {
    text-align: center;
}

#coreFamilyDistributionVoidsCounter {
    position: absolute;
    left: 487px;
    top: -115px;
    width: 50px;
}

#coreFamilyDistributionVoidsCounterContent {
    text-align: center;
}

/*Flex*/
#flexFamilyOutOfStockCounter {
    position: absolute;
    top: 53px;
    left: 434px;
    width: 50px;
    color: black;
}

#flexFamilyOutOfStockCounterContent {
    text-align: center;
}

#flexFamilyDistributionVoidsCounter {
    position: absolute;
    top: 73px;
    left: 487px;
    width: 50px;
}

#flexFamilyDistributionVoidsCounterContent {
    text-align: center;
}

/*Peg*/
#pegFamilyOutOfStockCounter {
    position: absolute;
    top: 224px;
    left: 434px;
    width: 50px;
    color: black;
}

#pegFamilyOutOfStockCounterContent {
    text-align: center;
}

#pegFamilyDistributionVoidsCounter {
    position: absolute;
    top: 261px;
    left: 486px;
    width: 50px;
}

#pegFamilyDistributionVoidsCounterConent {
    text-align: center;
}

table#tblSugOrd_All1 {
    width: 724px;
    position: absolute;
    margin-top: 140px;
    margin-left: 24px;
    border: none;
}

#tblSugOrd_All1 > tbody {
    max-height: 333px;
}

div#SuggOrder_All1 > table.custom thead tr th {
    color: #00A371;
    font-size: 16px;
    font-weight: bold;
    background-color: white !important;
    border: 1px solid black;
    /*border: none;*/
    /*border-bottom: 1px dashed black;*/
}

div#SuggOrder_All1 > table.custom tbody {
    max-height: 303px;
    overflow-y: auto;
}

/*div#SuggOrder_All1 > table.custom tbody tr td {
    border: none;
    border-bottom: 1px dashed black;
}*/

div#SuggOrder_All1 table.custom tbody tr td:nth-child(1),
div#SuggOrder_All1 table.custom tbody tr td:nth-child(2),
div#SuggOrder_All1 table.custom tbody tr td:nth-child(3),
div#SuggOrder_All1 table.custom tbody tr td:nth-child(4) {
    text-align: left;
}

div#OverView {
    color: white;
    position: absolute;
    left: -272px;
    top: 262px;
    margin-left: 672px;
    margin-top: 25px;
    border: 0px solid red;
    font-size: 23px;
}

/*div#ProductName {
    font-weight: bold;
    color: black;
    margin: 20px;
    text-align: center;
}*/

div#Product {
    font-weight: bold;
    color: black;
    text-align: center;
    top: -30px;
}

div#OrderCode, div#Product {
    font-weight: bold;
    text-align: right;
    text-align: center;
    position: absolute;
    right: 336px;
    top: -21px;
}

div#Product {
    font-weight: bold;
}

div#OrderCode {
    font-weight: bold;
    text-align: right;
}

#tblSugOrd_All1 > thead > tr > th {
    display: none;
}

div#selected-info {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: absolute;
    left: 226px;
    top: 484px;
    width: 400px;
    border: 0px solid red;
}

#selected-info {
    margin: 0 auto;
    width: 940px;
}

.SourceText4 {
    text-align: right;
    font-size: 12px;
    width: 835px;
}

div.footertext {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    width: 800px;
    font-family: Candara;
    color: #0353A8;
    text-align: center;
    border: 0px solid red;
    margin: 0 auto;
}

div.SourceTextContainer {
    position: absolute;
    /* margin: auto; */
    margin-left: -323px;
    text-align: center;
    border: 0px solid red;
    bottom: 21px;
}

div.SourceText2 {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 60%;
    border: 0px solid red;
}

div.SourceText {
    position: absolute;
    margin-left: 48px;
    margin-top: 629px;
    font-size: 75%;
    border: 0px solid red;
}

div.ChainTotalText {
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    font-family: Candara;
    color: #0353A8;
    left: 70px;
}

td.HeadTitle {
    background-color: #e26d03;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
}

.SourceText3 ul li {
    text-align: center;
}



#selected-info {
    margin: 0 auto;
    width: 940px;
}

div#Product {
    font-weight: bold;
}

div#OrderCode {
    font-weight: bold;
    text-align: right;
}

div#UPCCode, div#OrderCode, div#Product {
    color: #000000;
    max-width: 310px;
    width: 310px;
    margin-left: 28px;
    margin-top: 18px;
}

.jqplot-table-legend tr {
    margin: 10px 15px;
}

    .jqplot-table-legend tr td:not(:first-child) {
        padding-left: 5px;
    }

.ui-multiselect span, .ui-multiselect-checkboxes span {
    font-size: 13px;
}

.ui-multiselect-checkboxes label input {
    position: relative;
    top: -2px;
    margin: 5px 7px;
}

.ui-icon {
    width: 18px;
    height: 18px;
    margin: 4px;
}





#tblSugOrd_All1 > tbody > tr > td:nth-child(1) > input[type="checkbox"] {
    vertical-align: middle !important;
    margin-top: 2px;
    -ms-transform: scale(1.05); /* IE */
    -moz-transform: scale(1.05); /* FF */
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -o-transform: scale(1.05); /* Opera */
    padding: 10px;
    text-align: center !important;
}


#tblSugOrd_All1 > tbody > tr > td > input[type="tel"] {
    text-align: center;
    background: #e8e8e8;
    border: 1px #e8e8e8 solid;
}

#tblSugOrd_All1 > tbody > tr > td:nth-child(1) {
    text-align: center !important;
    padding-top: 5px !important;
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px lightgrey dashed;
}

#tblSugOrd_All1 > tbody > tr > td:nth-child(2) {
    text-align: left !important;
    padding-left: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px lightgrey dashed;
}

#tblSugOrd_All1 > tbody > tr > td:nth-child(3),
#tblSugOrd_All1 > tbody > tr > td:nth-child(4),
#tblSugOrd_All1 > tbody > tr > td:nth-child(5),
#tblSugOrd_All1 > tbody > tr > td:nth-child(6) {
    text-align: center !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px lightgrey dashed;
}

#tblSugOrd_All1 > tbody > tr > td:nth-child(6) {
    padding-left: 9px;
}
/* SUMMART PDF*/

.cellBarcode0, .cellBarcode1,
.cellBarcode2, .cellBarcode3,
.cellBarcode4, .cellBarcode5,
.cellBarcode6, .cellBarcode7,
.cellBarcode8, .cellBarcode9,
.cellBarcode10, .cellBarcode11,
.cellBarcode12, .cellBarcode13 {
    position: absolute;
    top: 222px;
    left: 93px;
}

img.cellBarcode3, img.cellBarcode7, img.cellBarcode11 {
    left: 88px;
}


.imageWrapper {
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    top: 221px;
    vertical-align: middle;
    display: block;
    left: 8px;
}


table#kgb {
    display: block;
    position: absolute;
}

#container1 {
    position: absolute;
    top: 120px;
}

#cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8, #cell9, #cell10, #cell11, #cell12 {
    width: 240px;
    height: 200px;
    /*border: 1px solid black;*/
}


#cell1 {
    position: absolute;
    top: 48px;
}

#cell2 {
    position: absolute;
    top: 48px;
    left: 238px;
}

#cell3 {
    position: absolute;
    top: 48px;
    left: 476px;
}

#cell4 {
    position: absolute;
    top: 48px;
    /*left: 737px;*/
    left: 714px;
}




#cell5 {
    position: absolute;
    top: 292px;
}

#cell6 {
    position: absolute;
    top: 292px;
    left: 241px;
}

#cell7 {
    position: absolute;
    top: 292px;
    left: 476px;
}

#cell8 {
    position: absolute;
    top: 292px;
    left: 715px;
}





#cell9 {
    position: absolute;
    top: 450px;
}

#cell10 {
    position: absolute;
    top: 450px;
    left: 241px;
}

#cell11 {
    position: absolute;
    top: 450px;
    left: 482px;
}

#cell12 {
    position: absolute;
    top: 450px;
    left: 723px;
}

.cellProductImage {
    position: relative;
}

/*#cellProductImage{
    
    height:50px;
    width:auto;
    
}*/

#SuggOrder_Summary1 > div > div.PDFMenu > div.PDFMenuTitle > p {
    display: none;
    font-size: 43px;
    margin-top: 3px !important;
}

.StoreNumberTextSO {
    position: absolute;
    left: 738px;
    top: 12px;
    z-index: 1;
    width: 67px;
}

.StoreNumberSO {
    position: absolute;
    left: 107px;
    top: 108px;
    width: 55px;
    z-index: 1;
    font-size: 19px;
}

.creatPDF {
    position: absolute;
    margin-top: 102px;
    margin-left: 858px;
    z-index: 1000;
    background: transparent;
    width: 109px;
    height: 30px;
    border: none;
}


.cellProductQTY {
    position: absolute;
    bottom: 7px;
    left: 156px;
    font-weight: 800;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {


    #tblSugOrd_All1 > tbody > tr > td > input[type="tel"] {
        text-align: center;
        width: 35px;
    }
}

/***************************************************************************
            SUGGESTED ORDER PDF END Custom PDF
****************************************************************************/





/*************************************************
        Display Overlay CSS
****************************************************/




#showProductsButton {
    /*background-color: white;*/
    /*opacity: .7;*/
    margin-top: -3px;
    margin-left: -466px;
    position: absolute;
    z-index: 100;
    height: 27px;
    width: 89px;
    border-radius: 23px;
    border: 0px solid crimson;
}

#clearLS {
    background-color: transparent;
    opacity: .7;
    -margin-top: -2px;
    margin-left: 421px;
    position: absolute;
    z-index: 100;
    height: 27px;
    width: 89px;
    border-radius: 23px;
    /* border: 0; */
}

#view-navigator {
    position: absolute;
    /* border: 7px ridge crimson; */
    /* border-radius: 15px; */
    margin-left: 472px;
    margin-top: 8px;
    z-index: 100;
}

div#navi {
    position: absolute;
    z-index: 99;
    /*background-color: lightgrey;*/
    height: 44px;
    width: 998px;
    margin-top: 639px;
}

#pitchCanvas {
    z-index: 100;
    /* background: white; */
    width: 1221px;
    left: 0px;
    position: absolute;
    max-height: 641px;
    margin-left: -221px;
    overflow-x: auto;
    /* white-space: nowrap; */
}

.willSlide {
    direction: rtl;
}

/*
.willSlide::-webkit-scrollbar {
    width: 1em;
}
 
.willSlide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.willSlide::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.willSlide{
    z-index: 98;
    left: 0px;
    position: absolute;
    max-height: 641px;    
}


*/
/*#imagePanel {
    /*position:absolute;
    width: 150px;
    height: 400px;
    background-color: crimson;
    z-index: 100;
    display:none;
    border: 0;
}*/


input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
}

.fa-2x {
    color: #595959;
    font-size: 1.5em;
}

label.custom-file-upload {
    padding: 5px;
}



#droppable-2 {
    position: absolute;
    /*//z-index: 100;*/
    width: 997px;
    height: 640px;
    background-color: transparent;
}

.hammerInstance {
    position: absolute;
    cursor: move;
    z-index: 51;
}

#divDisplay1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 31px;
    left: 37px;
}

#disLabel1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 164px;
    left: 27px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay2 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 202px;
    left: 35px;
}

#disLabel2 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 334px;
    left: 54px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay3 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 373px;
    left: 35px;
}

#disLabel3 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 504px;
    left: 51px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay4 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 545px;
    left: 33px;
}

#disLabel4 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 679px;
    left: 63px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay5 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 717px;
    left: 34px;
}

#disLabel5 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 859px;
    left: 69px;
    font-weight: 700;
    font-size: medium;
}




#divDisplay6 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 883px;
    left: 40px;
}

#disLabel6 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1017px;
    left: 25px;
    font-weight: 700;
    font-size: medium;
}




#divDisplay7 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1041px;
    left: 38px;
}

#disLabel7 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1167px;
    left: 34px;
    font-weight: 700;
    font-size: medium;
}


#divDisplay8 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1202px;
    left: 34px;
}

#disLabel8 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1340px;
    left: 36px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}



#divDisplay9 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1384px;
    left: 35px;
}

#disLabel9 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1516px;
    left: 32px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}






#divDisplay10 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1562px;
    left: 34px;
}

#disLabel10 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1695px;
    left: 60px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}





#divDisplay11 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1741px;
    left: 38px;
}

#disLabel11 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1873px;
    left: 45px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}






#divDisplay12 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1925px;
    left: 28px;
}

#disLabel12 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2059px;
    left: 42px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}





#divDisplay13 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2102px;
    left: 36px;
}

#disLabel13 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2234px;
    left: 25px;
    font-weight: 700;
    font-size: medium;
}





#divDisplay14 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2268px;
    left: 34px;
}

#disLabel14 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2397px;
    left: 47px;
    font-weight: 700;
    font-size: medium;
}


#divDisplay15 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2426px;
    left: 35px;
}

#disLabel15 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2555px;
    left: 41px;
    font-weight: 700;
    font-size: medium;
}




#divDisplay16 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2589px;
    left: 30px;
}

#disLabel16 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2721px;
    left: 40px;
    font-weight: 700;
    font-size: medium;
}

#divDisplay17 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2737px;
    left: 30px;
}

#disLabel17 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2866px;
    left: 36px;
    font-weight: 700;
    font-size: medium;
}




#segrip {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#segrip {
    position: absolute;
    /*position: fixed;*/
    bottom: -5px;
    right: -5px;
    z-index: 100;
}


/*#myImage {
    border: 0px;
    position: fixed;
    width: 997px;
    height: 640px;
    z-index: -10;
}*/

#backgroundImage {
    position: absolute;
    z-index: -100;
    margin-left: 1px;
}


/*#displaysBG {
   position: fixed;
    background: white;
    width: 200px;
    border: 0px solid red;
    z-index: 100;
    height: 639px;
}*/

#displaysBG {
    position: absolute;
    padding: 1px;
    z-index: 100;
    margin-top: -16px;
    /* border: 2px solid red; */
    height: 929px;
    left: 0px;
    background: white;
    width: 200px;
    opacity: 0.9;
    /*background: rgba(255, 255, 255, 0.36);*/
}

label {
    font-family: Helvetica, sans-serif;
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;*/ /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    height: 12%;
    width: 13%;
    margin-left: 380px;
    margin-top: 432px;
}

/* The Close Button */
.close {
    color: #737373;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#deviceCamera {
    height: 38px;
    width: 195px;
    margin-top: 8px;
    margin-left: 0px;
    border: 0px solid crimson;
    z-index: 100;
    position: absolute;
}

#cameraRoll {
    height: 38px;
    width: 195px;
    margin-top: 52px;
    z-index: 100;
    position: absolute;
    border: 0px solid blue;
}

#closeModal {
    height: 38px;
    width: 38px;
    margin-top: -16px;
    margin-left: 175px;
    z-index: 110;
    position: absolute;
    border: 0px solid orange;
    border-radius: 20px;
}


#modalImages > img.camRoll {
    width: 75px;
    margin-left: 28px;
}

#modalImages > img.devCam {
    width: 75px;
    margin-left: 28px;
}

#modalButtons {
    margin-top: -76px;
}

#vKeys {
    position: absolute;
    z-index: 200000;
    margin-left: 205px;
}

#pKeys {
    position: absolute;
    z-index: 200000;
    margin-left: 205px;
    margin-top: 19px;
}

#takePictureField > img {
    height: 37px;
    margin-top: -7px;
    position: absolute;
    z-index: 1;
}

#myModal {
    height: 611px;
    margin-left: 11px;
    margin-top: -3px;
    border: 0px solid crimson;
}

    #myModal > div > img {
        height: 113px;
        width: 204px;
    }


img#displayOverlayBar {
    position: absolute;
    width: 988px;
    height: 42px;
    top: -9px;
    left: -471px;
}

img#myImage {
    /* height: 640px;*/
    z-index: -10;
}

.defaultImageClass {
    border: 0px;
    position: fixed;
    width: 997px;
    /* height: 640px;*/
    z-index: -10;
}

.centerImage {
    border: 0px;
    position: fixed;
    /*    width: 425px;
*/ /*  height: 640px;*/
    /* z-index: -10;*/
    margin-left: 280px;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {

    .centerImage {
        border: 0px;
        position: fixed;
        margin-left: 265px;
    }
}




.redButton {
    height: 24px;
    width: 24px;
    margin-left: 6px;
    margin-top: -29px;
    position: absolute;
    z-index: 1000000000;
}

div#imageO {
    height: 20px;
    width: 182px;
    background-color: deepskyblue;
    z-index: 100000000;
    position: absolute;
    margin-left: 42px;
}

div#imageO2 {
    height: 20px;
    width: 182px;
    background-color: tomato;
    z-index: 100000000;
    position: absolute;
    margin-left: 235px;
}

div#scrollO {
    height: 20px;
    width: 167px;
    background-color: lawngreen;
    z-index: 100000000;
    position: absolute;
    margin-left: -372px;
}

div#scrollO2 {
    height: 20px;
    width: 167px;
    background-color: plum;
    z-index: 100000000;
    position: absolute;
    margin-left: -172px;
}


a#takePictureField {
    height: 20px;
    border: 0px solid crimson;
    width: 40px;
    position: absolute;
    z-index: 100;
}
/*************************************************
        Display Overlay CSS END
****************************************************/


/*************************************************
        Display Overlay CSS
****************************************************/




#showProductsButton {
    /*background-color: white;*/
    /*opacity: .7;*/
    margin-top: -3px;
    margin-left: -466px;
    position: absolute;
    z-index: 100;
    height: 27px;
    width: 89px;
    border-radius: 23px;
    border: 0px solid crimson;
}

#clearLS {
    background-color: transparent;
    opacity: .7;
    -margin-top: -2px;
    margin-left: 421px;
    position: absolute;
    z-index: 100;
    height: 27px;
    width: 89px;
    border-radius: 23px;
    /* border: 0; */
}

#view-navigator {
    position: absolute;
    /* border: 7px ridge crimson; */
    /* border-radius: 15px; */
    margin-left: 472px;
    margin-top: 8px;
    z-index: 100;
}

div#navi {
    position: absolute;
    z-index: 99;
    /*background-color: lightgrey;*/
    height: 44px;
    width: 998px;
    margin-top: 639px;
}

#pitchCanvas {
    z-index: 100;
    /* background: white; */
    width: 1221px;
    left: 0px;
    position: absolute;
    max-height: 641px;
    margin-left: -221px;
    overflow-x: auto;
    /* white-space: nowrap; */
}

.willSlide {
    direction: rtl;
}

/*
.willSlide::-webkit-scrollbar {
    width: 1em;
}
 
.willSlide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.willSlide::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.willSlide{
    z-index: 98;
    left: 0px;
    position: absolute;
    max-height: 641px;    
}


*/
/*#imagePanel {
    /*position:absolute;
    width: 150px;
    height: 400px;
    background-color: crimson;
    z-index: 100;
    display:none;
    border: 0;
}*/


input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
}

.fa-2x {
    color: #595959;
    font-size: 1.5em;
}

label.custom-file-upload {
    padding: 5px;
}



#droppable-2 {
    position: absolute;
    /*//z-index: 100;*/
    width: 997px;
    height: 640px;
    background-color: transparent;
}

.hammerInstance {
    position: absolute;
    cursor: move;
    z-index: 51;
}

/*#divDisplay1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 13px;
    left: 37px;
}

#disLabel1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 151px;
    left: 39px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}






#divDisplay2 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 195px;
    left: 35px;
}

#disLabel2 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 328px;
    left: 26px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}





#divDisplay3 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 367px;
    left: 35px;
}

#disLabel3 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 498px;
    left: 39px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}







#divDisplay4 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 539px;
    left: 33px;
}

#disLabel4 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 674px;
    left: 50px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay5 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 722px;
    left: 34px;
}

#disLabel5 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 852px;
    left: 24px;
    font-weight: 700;
    font-size: medium;
}




#divDisplay6 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 883px;
    left: 40px;
}

#disLabel6 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1017px;
    left: 25px;
    font-weight: 700;
    font-size: medium;
}




#divDisplay7 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1041px;
    left: 38px;
}

#disLabel7 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1167px;
    left: 34px;
    font-weight: 700;
    font-size: medium;
}


#divDisplay8 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1202px;
    left: 34px;
}

#disLabel8 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1340px;
    left: 36px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}



#divDisplay9 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1384px;
    left: 35px;
}

#disLabel9 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1516px;
    left: 32px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}






#divDisplay10 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1562px;
    left: 34px;
}

#disLabel10 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1695px;
    left: 60px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}





#divDisplay11 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1741px;
    left: 38px;
}

#disLabel11 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1873px;
    left: 45px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}






#divDisplay12 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1925px;
    left: 28px;
}

#disLabel12 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2059px;
    left: 42px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}





#divDisplay13 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2102px;
    left: 36px;
}

#disLabel13 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2234px;
    left: 25px;
    font-weight: 700;
    font-size: medium;
}





#divDisplay14 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2268px;
    left: 34px;
}

#disLabel14 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2397px;
    left: 47px;
    font-weight: 700;
    font-size: medium;
}*/


/*#divDisplay15 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2426px;
    left: 35px;
}

#disLabel15 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2555px;
    left: 41px;
    font-weight: 700;
    font-size: medium;
}




#divDisplay16 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2589px;
    left: 30px;
}

#disLabel16 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2721px;
    left: 40px;
    font-weight: 700;
    font-size: medium;
}

#divDisplay17 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2737px;
    left: 30px;
}

#disLabel17 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2866px;
    left: 36px;
    font-weight: 700;
    font-size: medium;
}*/




#segrip {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#segrip {
    position: absolute;
    /*position: fixed;*/
    bottom: -5px;
    right: -5px;
    z-index: 100;
}


/*#myImage {
    border: 0px;
    position: fixed;
    width: 997px;
    height: 640px;
    z-index: -10;
}*/

#backgroundImage {
    position: absolute;
    z-index: -100;
    margin-left: 1px;
}


/*#displaysBG {
   position: fixed;
    background: white;
    width: 200px;
    border: 0px solid red;
    z-index: 100;
    height: 639px;
}*/

/*#displaysBG {
    position: absolute;
    padding: 1px;
    z-index: 100;
    margin-top: -16px;
    height: 900px;
    left: 0px;
    background: white;
    width: 200px;
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.36);
}*/

label {
    font-family: Helvetica, sans-serif;
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;*/ /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    height: 12%;
    width: 13%;
    margin-left: 380px;
    margin-top: 432px;
}

/* The Close Button */
.close {
    color: #737373;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#deviceCamera {
    height: 38px;
    width: 195px;
    margin-top: 8px;
    margin-left: 0px;
    border: 0px solid crimson;
    z-index: 100;
    position: absolute;
}

#cameraRoll {
    height: 38px;
    width: 195px;
    margin-top: 52px;
    z-index: 100;
    position: absolute;
    border: 0px solid blue;
}

#closeModal {
    height: 38px;
    width: 38px;
    margin-top: -16px;
    margin-left: 175px;
    z-index: 110;
    position: absolute;
    border: 0px solid orange;
    border-radius: 20px;
}


#modalImages > img.camRoll {
    width: 75px;
    margin-left: 28px;
}

#modalImages > img.devCam {
    width: 75px;
    margin-left: 28px;
}

#modalButtons {
    margin-top: -76px;
}

#vKeys {
    position: absolute;
    z-index: 200000;
    margin-left: 205px;
}

#pKeys {
    position: absolute;
    z-index: 200000;
    margin-left: 205px;
    margin-top: 19px;
}

#takePictureField > img {
    height: 37px;
    margin-top: -7px;
    position: absolute;
    z-index: 1;
}

#myModal {
    height: 611px;
    margin-left: 11px;
    margin-top: -3px;
    border: 0px solid crimson;
}

    #myModal > div > img {
        height: 113px;
        width: 204px;
    }


img#displayOverlayBar {
    position: absolute;
    width: 988px;
    height: 42px;
    top: -9px;
    left: -471px;
}

img#myImage {
    /* height: 640px;*/
    z-index: -10;
}

.defaultImageClass {
    border: 0px;
    position: fixed;
    width: 997px;
    /* height: 640px;*/
    z-index: -10;
}

.centerImage {
    border: 0px;
    position: fixed;
    /*    width: 425px;
*/ /*  height: 640px;*/
    /* z-index: -10;*/
    margin-left: 280px;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {

    .centerImage {
        border: 0px;
        position: fixed;
        margin-left: 265px;
    }
}




.redButton {
    height: 24px;
    width: 24px;
    margin-left: 0px;
    margin-top: -31px;
    position: absolute;
    z-index: 1000000000;
}

div#imageO {
    height: 20px;
    width: 182px;
    background-color: deepskyblue;
    z-index: 100000000;
    position: absolute;
    margin-left: 42px;
}

div#imageO2 {
    height: 20px;
    width: 182px;
    background-color: tomato;
    z-index: 100000000;
    position: absolute;
    margin-left: 235px;
}

div#scrollO {
    height: 20px;
    width: 167px;
    background-color: lawngreen;
    z-index: 100000000;
    position: absolute;
    margin-left: -372px;
}

div#scrollO2 {
    height: 20px;
    width: 167px;
    background-color: plum;
    z-index: 100000000;
    position: absolute;
    margin-left: -172px;
}


a#takePictureField {
    height: 20px;
    border: 0px solid crimson;
    width: 40px;
    position: absolute;
    z-index: 100;
}
/*************************************************
        Display Overlay CSS END
****************************************************/



/*************************************************
        CLEAR BUTTON START
****************************************************/


#clearHBCParent {
    position: absolute;
    margin-top: 507px;
    margin-left: 712px;
    border: 4px solid #49a8cc;
    border-radius: 5px;
}

    #clearHBCParent:hover,
    #clearHBCParent2:hover,
    #clearHBC:hover,
    #clearSuggestedOrderSelection:hover {
        background-color: #49a8cc;
        color: white;
    }

#clearHBC {
    height: 21px;
    width: 62px;
    vertical-align: middle;
    color: #49a8cc;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 9px;
}


#clearHBCParent2 {
    position: absolute;
    margin-top: 456px;
    margin-left: 693px;
    border: 3px solid #49a8cc;
    border-radius: 5px;
}


#clearSuggestedOrderSelection {
    height: 15px;
    width: 47px;
    vertical-align: middle;
    color: #49a8cc;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 2px;
}


/*************************************************
        CLEAR BUTTON END
****************************************************/
