﻿html
{
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	height:100%;
	width:100%;
	background-color:#F2F2F2;
}
body{
	display:-webkit-box;
	background-color:white;
	margin: 12px;
    -webkit-border-radius:5px;
	border: 1px solid #AAA;
}
#loading
{
	background:url("../coreimages/loading.gif") no-repeat center;
	width:100%;
	height:100%;
	z-index:9999;
	float:left;
}
.ui-multiselect-menu
{
	margin: -12px;/*body margin is messing the postiion of popup, tried position of multiselet but didn't help*/
}

.fillbox{
	position:absolute;
	height:auto;
	bottom:0;
    top:0;
    left:0;
    right:0;
}

#left
{
	width:180px;
	max-width:180px;
	padding-top: 1px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	border-right: 1px solid #D6D6D6;
}
#left > div
{
	height:51px;
	width:150px;
	line-height:50px;
	font: bold 11px arial;
	-webkit-border-radius:6px;
	background: url("../coreimages/btn_bg.png") repeat-x 0px -3px;
	color: #AFCBF2;
	text-align: center;
	white-space: nowrap;
	line-height: 51px;
	vertical-align: middle;
	cursor:pointer;	
	margin:10px auto;
}

#left div.icon
{
	display: inline-block;
	position: relative;
	top: 7px;
	right: 6px;
	float:right;
	width: 30px;
	height: 30px
	}

#left > div.selected
{
	color:White;
	background: url("../coreimages/btnHover_bg.png") 0px -3px;
}
#splitter
{
	padding-top:2px;
	width:40px;
	height: 30px;
	line-height: 30px;
	float: left;

}
#splitter 
{
	background-image:url("../coreimages/collapse_triangle.png");
	background-color:transparent;
	background-repeat:no-repeat;
	background-position: 4px 2px;

}
#splitter.collapse 
{
	background-image:url("../coreimages/expand_triangle.png");
}

#main
{
	-webkit-box-flex:1;
	height:100%;
	width:100%;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden;
	margin-top:3px;
}
#maintop 
{
	/*margin: 3px;
	padding:3px 0 0 0;*/
	-webkit-border-radius:5px;
	border: 1px solid #AAA;
	background: #CCC url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	margin:0 3px;
}
#maintop > div
{
	display:inline-block;
	width:auto;
	height:29px;
	line-height: 29px;
	padding:0px 13px;
	border: 1px solid lightGrey;
	background: #E6E6E6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	-webkit-border-radius:5px 5px 0px 0px;
	font-weight: normal;
	color: #555;
	font-size:13px;
	font-family: Verdana,Arial,sans-serif;
	text-align: center;
	border-bottom:0px;
	position:relative;
	top:1px;
	margin: .2em .2em 0 0;
}
#maintop > div.selected
{
    border: 1px solid #AAA;
    border-bottom:0px;
	position:relative;
	background: white url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
	padding-bottom:1px;
}
#maincontent
{
	-webkit-box-flex:1;
	height:100%;
}

#pageholder
{
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex:1;
	overflow:hidden;
   	padding:5px;
}

#pageholder > div
{
	display:none;
	overflow:hidden;
}
.clicked
{
    background-image:-webkit-linear-gradient(bottom, rgb(201,201,201) 43%, rgb(177,180,181) 72%, rgb(158,163,163) 86%) !important;
}
div.current
{
    display:block !important;
}


.hidden
{
	display:none;	
}

::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track-piece
{
    background: none;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1.0);
    background: rgba(0,0,0,0.3);
    border-right-width: 4px;
    border-left-width: 0px;
    -webkit-background-clip: padding-box;
	min-height: 30px;
}

#indicator  
{
	position: relative;
	bottom: 28px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
}
#indicator ul
{
	-webkit-border-radius: 8px;
	padding-left:17px;
}
#indicator li
{
	float:left;
	height:30px;
	line-height:30px;
	font-size:15px;
	list-style-position: inside;
	color:#D5D7D8;
}

#indicator li.selected
{
	color: #4781C0;
}