

/*Gaptracker*/

div#StorePerf_All1 table.custom tbody tr td:nth-child(2),
div#StorePerf_All1 table.custom tbody tr td:nth-child(3){
    text-align: left;
}

/*colors the inner table borders*/
table.custom tr td {
    border: 1px solid black;
}

div#StorePerf_All1 tr.complete td:nth-child(1), tr.complete td:nth-child(2), tr.complete td:nth-child(3), tr.complete td:nth-child(4),
tr.complete td:nth-child(5), tr.complete td:nth-child(6), tr.complete td:nth-child(7), tr.complete td:nth-child(8) {
    background-color: #838383 !important;
}

div#StorePerf_All1 table.custom tbody tr td:nth-child(1), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: center !important;
}

table.canselect.custom {
    width: 940px;
}

div#StorePerf_All1 table.custom {
    width: 821px;
    border: 1px solid black;
}

table.custom.tablesorter {
    width: 970px;
}

div#StorePerf_All1 table.custom tbody {
    max-height: 250px;
}

div#StorePerf_All1 table.custom thead tr th, div#StorePerf_All1 table.custom tfoot tr th {
    border: 1px solid #000000;
    background-color: #234187;
    font-size: 14px;
}

div#CHW_GapT_All1_filters {
    margin-top: 260px;
    margin-left: 262px;
    margin-bottom: 20px;
    width: 948px;
}

#rowCountStyle {
    top: 222px;
    position: absolute;
    left: 83px;
    color: #000000;
}

div#StorePerf_All1 table.custom thead tr th:nth-child(7), div#StorePerf_All1 table.custom tbody tr td:nth-child(7) {
    display: none;
}

/*END Gaptracker*/

/*Profit Projection*/
#profitProjection {
    position: fixed;
    margin: 14px 0 0 236px;
}

td.regColorCell {
    border-bottom: 1px solid #4D4D4D;
    text-align: center;
}

.colorCell {
    background-color: #24ace6;
    border-bottom: 1px solid #ffffff;
    width: 164px;
    text-align: right;
    padding-right: 10px;
}

.breakColorCell {
    background-color: #244085;
    border-bottom: 1px solid #ffffff;
    width: 164px;
    text-align: right;
    padding-right: 10px;
}

.breakColorCell p {
    color: #ffffff;
}

.breakCell {
    text-align: center;
    border-bottom: 1px solid #4D4D4D;
}

.salesColorCell {
    background-color: #7fc57c;
    width: 164px;
    text-align: right;
    padding-right: 10px;
}

.salesColorCell p {
    color: #ffffff;
}

.salesCell {
    text-align: center;
}

.colorCell p {
    color: #ffffff;
}

#buttonTable {
    margin: 64px 0 0 236px;
}

#calculate {
    padding-left: 71px;
    padding-bottom: 2px;
}

#breakEven {
    padding-left: 21px;
}

#salesIncrease {
    padding-left: 14px;
    padding-bottom: 2px;
}

p {
    font-size: 17px;
    font-family: "Source Sans Pro", Sans-Serif;
    color: #4D4D4D;
    margin: 10px 0 11px 15px;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('SourceSansPro-Regular.ttf') format('truetype');
}

#profitProjection input {
    font-size: 17px;
    font-family: "Source Sans Pro", Sans-Serif;
    color: #4D4D4D;
    text-align: center;
    outline: 0;
    background-color: lightgray;
    width: 140px;
    margin-left: 15px;
}

/*End Profit Projection*/

div.footertext {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    width: 800px;
    font-family: Candara;
    color: #0353A8;
    text-align: center;
    border: 0px solid red;
    margin: 0 auto;
}

div.SourceTextContainer {
    position: absolute;
    margin: auto;
    text-align: center;
    border: 0px solid red;
    bottom: 5px;
}

div.SourceText2 {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 60%;
    border: 0px solid red;
}

div.SourceText {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 75%;
    border: 0px solid red;
}

div.ChainTotalText {
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    font-family: Candara;
    color: #0353A8;
    left: 70px;
}

td.HeadTitle {
    background-color: #e26d03;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
}

.parentDisable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #aaa;
}

#popup {
    position: absolute;
    margin: 5%;
    color: #000;
    background-color: #fff;
    -webkit-border-radius: 6px;
    border: 3px solid black;
}

.end {
    z-index: 99;
    position: relative;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    -webkit-border-radius: 4px;
}

.PopupImage {
    margin: 25px 0px 25px 25px;
}

.displays_home1_button {
    position: absolute;
    margin-left: 5px;
    margin-top: 615px;
    width: 55px;
    height: 55px;
}

.displays_endcap1_button {
    position: absolute;
    margin-left: 555px;
    margin-top: 444px;
    width: 90px;
    height: 55px;
}

.displays_endcap1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 228px;
    width: 253px;
    height: 28px;
}

.priorityitems_organiccoconut1_button {
    position: absolute;
    margin-left: 821px;
    margin-top: 390px;
    width: 130px;
    height: 20px;
}

.displays_pallet1_button {
    position: absolute;
    margin-left: 221px;
    margin-top: 355px;
    width: 35px;
    height: 75px;
}

.displays_pallet1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 262px;
    width: 190px;
    height: 30px;
}

.priorityitems_keratin1_button {
    position: absolute;
    margin-left: 421px;
    margin-top: 523px;
    width: 525px;
    height: 25px;
}

.displays_sidekick1_button {
    position: absolute;
    margin-left: 510px;
    margin-top: 245px;
    width: 70px;
    height: 50px;
}

.displays_sidekick1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 300px;
    width: 210px;
    height: 25px;
}

.displays_clipstrip1_button {
    position: absolute;
    margin-left: 645px;
    margin-top: 444px;
    width: 75px;
    height: 55px;
}

.displays_clipstrip1_button2 {
    position: absolute;
    margin-left: 695px;
    margin-top: 332px;
    width: 235px;
    height: 28px;
}

.displays_tierrack1_button {
    position: absolute;
    margin-left: 40px;
    margin-top: 615px;
    width: 285px;
    height: 55px;
}

/*GraphContainer {
    margin-top: 170px;
    margin-left: 55px;
    border: 1px solid red;
}*/

/*District Comp*/
div#slsdata_distcomp1 > div > table {
    max-height: 350px;
    margin-top: 250px;
}

div#slsdata_distcomp1 > div > table tbody tr td {

    border: 1px solid #ababab;
}

div#slsdata_distcomp1 > div > table tbody tr td:nth-child(1) {
    text-align: center;
}

div#slsdata_distcomp1 > div > table thead tr th:nth-child(2), div#slsdata_distcomp1 > div > table thead tr th:nth-child(3) {
    text-align: left;
    font-size: 17px;
}

div#slsdata_distcomp1 > div > table tbody tr td:nth-child(2), div#slsdata_distcomp1 > div > table tbody tr td:nth-child(3) {
    text-align: left;
    font-size: 17px;
}

div#slsdata_distcomp1 > div > table tbody tr td:nth-child(4) {
    padding-right: 25px;
}

div#slsdata_distcomp1 table.custom {
    width: 985px;
}
/*END District Comp*/





div#slsdata_pos1 table.custom tbody tr td {
    text-align: center;
}

div#slsdata_pos1 table.custom {
    width: 826px;
    margin-top: 280px;
}

div#slsdata_pos1 table.custom thead tr th {
    background-color: #80C57B;
}

div#slsdata_pos1 table.custom thead tr th:nth-child(1) {
    background-color: #234186;
    text-align: left;
}

div#slsdata_pos1 table.custom tbody {
    max-height: 155px;
}

div#slsdata_pos1 table.custom tbody tr td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
}

div#priorityitems_promoteditems1 table.custom {
    margin-top: 240px;
}

div#priorityitems_promoteditems1 table.custom tbody {
    max-height: 210px;
}

div#priorityitems_promoteditems1 table.custom tbody tr td {
    text-align: left;
}

div#priorityitems_promoteditems1 table.custom {
    width: 864px;
}

div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(1) {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(2), div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(3), div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(4), div#priorityitems_promoteditems1 table.custom thead tr th:nth-child(5) {
    background-color: #80C57B;
    font-size: 18px;
    font-weight: normal;
    padding-left: 12px;
}

div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
}

div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(2), div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(3), div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(4), div#priorityitems_promoteditems1 table.custom tbody tr td:nth-child(5) {
    text-align: left;
    padding-left: 8px;
}

div#displays_promosellthru1 table.custom {
    margin-top: 275px;
    width: 855px;
}

div#displays_promosellthru1 table.custom tbody {
    max-height: 160px;
}

div#displays_promosellthru1 table.custom tbody tr td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
}

div#displays_promosellthru1 table.custom tbody tr td:nth-child(2),
div#displays_promosellthru1 table.custom tbody tr td:nth-child(3),
div#displays_promosellthru1 table.custom tbody tr td:nth-child(4),
div#displays_promosellthru1 table.custom tbody tr td:nth-child(5),
table.custom tbody tr td:nth-child(6),
table.custom tbody tr td:nth-child(7) {
    text-align: center;
    font-weight: normal;
}

div#displays_promosellthru1 table.custom thead tr th {
    background-color: #234186;
    font-color: #ADAEB2;
    font-size: 14px;
    text-align: center;
}

div#displays_promosellthru1 table.custom thead tr th:nth-child(1) {
    background-color: #22AEE4;
    text-align: left;
    font-size: 16px;
}

div#DP_Pet1 table.custom {
    width: 980px;
}

div#DP_Pet1 table.custom tbody tr td:nth-child(2) {
    text-align: left;
}

div#DP_Pet1 table.custom tbody tr td:nth-child(1) {
    text-align: center;
}

div#DP_Pet1 table.custom tbody tr td:nth-child(9), div#DP_Pet1 table.custom thead tr th:nth-child(9), div#DP_Pet1 table.custom tbody tr td:nth-child(12), div#DP_Pet1 table.custom thead tr th:nth-child(12), div#DP_Pet1 table.custom tbody tr td:nth-child(13), div#DP_Pet1 table.custom thead tr th:nth-child(13), div#DP_Pet1 table.custom tbody tr td:nth-child(14), div#DP_Pet1 table.custom thead tr th:nth-child(14) {
    display: none;
    width: 0;
}

div#DP_Cnsmr1 table.custom {
    width: 980px;
}

div#DP_Cnsmr1 table.custom tbody tr td:nth-child(2) {
    text-align: left;
}

div#DP_Cnsmr1 table.custom tbody tr td:nth-child(1) {
    text-align: center;
}

div#DP_Cnsmr1 table.custom tbody tr td:nth-child(9), div#DP_Cnsmr1 table.custom thead tr th:nth-child(9), div#DP_Cnsmr1 table.custom tbody tr td:nth-child(12), div#DP_Cnsmr1 table.custom thead tr th:nth-child(12), div#DP_Cnsmr1 table.custom tbody tr td:nth-child(13), div#DP_Cnsmr1 table.custom thead tr th:nth-child(13), div#DP_Cnsmr1 table.custom tbody tr td:nth-child(14), div#DP_Cnsmr1 table.custom thead tr th:nth-child(14) {
    display: none;
    width: 0;
}

div.ImportantStatsHeader {
    position: absolute;
    top: 550px;
    left: 40px;
    text-align: right;
    width: 220px;
    font-size: 24px;
    font-weight: bold;
    border: 0px solid red;
}

table.SmartText {
    position: absolute;
    top: 606px;
    left: 355px;
    border: 0px solid red;
    border-collapse: separate;
    overflow-y: visible;
    width: 482px;
}

table.SmartText thead tr th:nth-child(1), table.SmartText thead tr th:nth-child(2), table.SmartText tbody tr td:nth-child(2), table.SmartText tbody tr td:nth-child(3), table.SmartText thead tr th:nth-child(3), table.SmartText tbody tr td:nth-child(4), table.SmartText thead tr th:nth-child(4) {
    display: none;
}

table.SmartText thead tr th:nth-child(1), table.SmartText thead tr th:nth-child(2) {
    width: 482px;
}

table.SmartText thead tr th:nth-child(3) {
    width: 40px;
}

table.SmartText tbody tr td {
    font-size: 15px;
    font-weight: bold;
    border: 0px solid red;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #203842;
}

table.SmartText tbody tr td:nth-child(1) {
    text-align: left;
}

table.SmartText tbody tr td:nth-child(2) {
    text-align: right;
}

div#selected-info {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    margin: 0 auto;
}

#selected-info {
    margin: 0 auto;
    width: 940px;
}

.link {
    font-size: 20px;
    font-weight: normal;
    border: 0px solid red;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #263F78;
    float: center;
}

div#PC_IC1 table.custom {
    width: 980px;
}

div#PC_IC1 table.custom tbody tr td:nth-child(3) {
    text-align: left;
}

div#PC_IC1 table.custom tbody tr td:nth-child(1), div#PC_IC1 table.custom tbody tr td:nth-child(2), div#PC_IC1 table.custom tbody tr td:nth-child(8), div#PC_IC1 table.custom tbody tr td:nth-child(9) {
    text-align: center;
}

div#PC_IC1 table.custom tbody tr td {
    padding-top: 8px;
    font-size: 13px;
}

div#PC_IC1 table.custom tbody tr td:nth-child(8), div#PC_IC1 table.custom tbody tr td:nth-child(9) {
    padding-top: 0px;
}

div#PC_FC1 table.custom {
    width: 1000px;
}

div#PC_FC1 table.custom tbody tr td:nth-child(3) {
    text-align: left;
}

div#PC_FC1 table.custom tbody tr td:nth-child(1), div#PC_FC1 table.custom tbody tr td:nth-child(2), div#PC_FC1 table.custom tbody tr td:nth-child(8), div#PC_FC1 table.custom tbody tr td:nth-child(9) {
    text-align: center;
}

div#PC_FC1 table.custom tbody tr td {
    padding-top: 8px;
}

div#PC_FC1 table.custom tbody tr td:nth-child(8), div#PC_FC1 table.custom tbody tr td:nth-child(9) {
    padding-top: 0px;
}

div#BCL_All1filters, table#tblBCL_All1 {
    margin: 0 auto;
    width: 940px;
}

div#BCL_All1 > div {
    padding-top: 10px;
    padding-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

div#BCL_All1 table > tbody {
    max-height: 450px;
}

div#BCL_All1 table.custom tr td {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: black;
}

div#BCL_All1 table.custom tbody tr td:nth-child(6), div#BCL_All1 table.custom thead tr th:nth-child(6) {
    display: none;
}

div#BCL_All1 table.custom tbody tr td:nth-child(1), div#BCL_All1 table.custom tbody tr td:nth-child(2), div#BCL_All1 table.custom tbody tr td:nth-child(3) {
    text-align: left;
}

div#BCL_All1 > div > div > span {
    font-weight: bold;
    font-size: 15px;
}

div#DC_All1 table.custom {
    width: 970px;
}

div#DC_All1 table.custom tbody tr td:nth-child(1), div#DC_All1 table.custom tbody tr td:nth-child(7) {
    text-align: center;
}

div#DC_All1 table.custom tbody tr td:nth-child(2) {
    text-align: left;
}

div#DC_All1 table.custom thead tr th:nth-child(10), div#DC_All1 table.custom tbody tr td:nth-child(10), div#DC_All1 table.custom thead tr th:nth-child(11), div#DC_All1 table.custom tbody tr td:nth-child(11), div#DC_All1 table.custom thead tr th:nth-child(12), div#DC_All1 table.custom tbody tr td:nth-child(12) {
    display: none;
}

div#DC_All1 table.custom tbody tr td {
    font-size: 12px;
}

div#priorityitems_top15OSA1 table.custom {
    margin-top: 15px;
    width: 867px;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    font-size: 12px;
}

div#priorityitems_top15OSA1 table.custom tbody {
    max-height: 306px;
}

div#priorityitems_top15OSA1 table.custom thead tr th {
    background-color: #234186;
}

div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(1) {
    text-align: center;
}

div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(2), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(3) {
    text-align: left;
}

div#priorityitems_top15OSA1 table.custom thead th:nth-child(1), div#priorityitems_top15OSA1 table.custom thead th:nth-child(2), div#priorityitems_top15OSA1 table.custom thead th:nth-child(4), div#priorityitems_top15OSA1 table.custom thead th:nth-child(5), div#priorityitems_top15OSA1 table.custom thead th:nth-child(6), div#priorityitems_top15OSA1 table.custom thead th:nth-child(7) {
    text-align: center;
}

div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(2), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(4), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(5), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(6), div#priorityitems_top15OSA1 table.custom tbody tr td:nth-child(7) {
    text-align: center;
}

div#Top15OSA1_All1_filters {
    margin-top: 198px;
    margin-left: 685px;
    margin-bottom: 0px;
    font-size: 12px;
}

div#selected-info {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    margin: 0 auto;
}

#selected-info {
    margin: 0 auto;
    width: 940px;
}

div#Product {
    font-weight: bold;
}

div#OrderCode {
    font-weight: bold;
    text-align: right;
}

div#UPCCode, div#OrderCode, div#Product {
    color: #000000;
    max-width: 310px;
    width: 310px;
}

.ui-multiselect {
    width: 210px !important;
}

div#MED > div {
    text-align: center;
    width: 100%;
}

div#MED > div > video {
    padding-top: 100px;
}

.jqplot-table-legend tr {
    margin: 10px 15px;
}

.jqplot-table-legend tr td:not(:first-child) {
    padding-left: 5px;
}

.ui-multiselect span, .ui-multiselect-checkboxes span {
    font-size: 17px;
}

.ui-multiselect-checkboxes label input {
    position: relative;
    top: -2px;
    margin: 5px 7px
}

.ui-icon {
    width: 18px;
    height: 18px;
    margin: 4px;
}

/*#divPCSummary {
    *//* background-color: red; *//*
    *//* width: 10%; *//*
    *//* position: fixed; *//*
    *//* float: right; *//*
    *//* margin-top: 74px; *//**//*
    *//**//* right: 656px; *//**//*
    *//**//* left: 245px; *//**//*
    position: absolute;
    *//**//* float: right; *//**//*
    right: 80px;
    *//**//* top: 40px; *//**//*
    bottom: 106px;
    *//*
    position: absolute;
    bottom: 104px;
    left: 866px;

}*/

#divPCSummary .fldsetContent {
    color: #000000;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #000000;
}

#divPCSummary .legend {
    height: 17px;
    font: bold 14px arial;
    color: #151515;
    margin-left: 15px;
    padding: 2px 20px;
    border: solid 1px #000000;
    background: #E6E6E6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.profitTitle {
    font: bold 25px arial;
    color: Black;
    padding-right: 15px;
}

.profitPer, .profitPer > span {
    font: bold 25px arial;
    color: #149e22;
    padding-right: 30px;
}

.pc_summary {
    padding: 10px;
    text-align: center;
}

.pc_summary_item {
    margin: 20px;
    padding: 10px 15px;
    font-weight: normal;
}

.pc_summary_valueField {
    padding-top: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #244085;
}

.pc_summary_operator {
    color: #385d8a;
    font-size: 45px;
    vertical-align: middle;
}

/*Lost Sales OSA*/

/*Formats the numbers*/
#divPCSummaryOSA {
    position: absolute;
    bottom: 104px;
    left: 866px;
}

div#SCJ_OSA_LostSalesCalculator1_filters {
    margin-top: 173px !important;
    margin-left: 573px !important;
}

/*Colors the header*/
div#OSA_LostSalesCalculator1 thead tr th {
    background-color: #80C47B;
}

table#tblSCJ_OSA_LostSalesCalculator1 {
    margin-top: 0px;
    width: 843px;
    border: none;
}

/*colors the inner table borders*/
table#tblSCJ_OSA_LostSalesCalculator1 tr td {
    border: 1px solid #939598;
}

div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(1), div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(2) {
    text-align: left;
}

div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(3) {
    text-align: center !important;
}

div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(4), div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(5) {
    padding-right: 25px;
}

div#OSA_LostSalesCalculator1 tbody tr td {
    padding-top: 10px;
}

div#OSA_LostSalesCalculator1 table.custom tbody tr td:nth-child(6) {
    padding-top: 0px;
}

div#OSA_LostSalesCalculator1 table.custom tbody {
    max-height: 161px;
    font-size: 12px !important;
}

table#tblSCJ_OSA_LostSalesCalculator1 .checkboximage {
    background: url('../images/uncheckedCircle.png') no-repeat top left;
    width: 20px;
    height: 20px;
    margin: 7px;
}

table#tblSCJ_OSA_LostSalesCalculator1 .checkboximage.checked {
    background: url('../images/checkedCircle.png') no-repeat top left;
    width: 20px;
    height: 20px;
    margin: 7px;
}
/*END Lost Sales OSA*/


/*Price and Movement*/
/*Price and Movement Drop Down Override*/
#Demo_POS select#SelectDropDown {
    position: absolute;
    top: 144px;
    width: 204px;
    left: 43px;
    background-color: transparent;
    border: none;
    font-family: Georgia, Times New Roman, Serif;
    font-size: 14px;
}

#Demo_POS table.POSBottomData thead tr th,
#Demo_POS table.POSBottomData tbody tr td {
    text-align: left;
}

#Demo_POS select#SelectDropDown2 {
    position: absolute;
    top: 192px;
    width: 204px;
    left: 43px;
    background-color: transparent;
    border: none;
    font-family: Georgia, Times New Roman, Serif;
    font-size: 14px;
}

/* Override for hiding the Graph Legend*/
#Demo_POS table.jqplot-table-legend {
    display: none;
}

/*Positions the graph*/
div#grphDemo_POS {
    margin-top: 59px;
    margin-left: 271px;
}

/*Style the average and max table*/
table.POSBottomData {
    position: relative;
    margin-top: 7px;
    margin-left: 624px;
    bottom: 48px;
    width: 120px !important;
    border: none;
    font-size: 21px;
}

table.POSBottomData thead tr th,
table.POSBottomData tbody tr td {
    border: none;
    color: #000000;
}

/*Hides the average and max table data*/
table.POSBottomData thead tr th:nth-child(1),
table.POSBottomData thead tr th:nth-child(2),
table.POSBottomData thead tr th:nth-child(3),
table.POSBottomData thead tr th:nth-child(2),
table.POSBottomData tbody tr td:nth-child(1),
table.POSBottomData tbody tr td:nth-child(2) {
    display: none;
}
/*END Style the aveg and max table*/
/*END Price and Movement*/


div#POSCC_Lowes1 > div {
    background: url('../images/ENR_Lowes_POS_Lowes1.jpg') no-repeat top left;
}

div#POSCC_Lowes1 > div > div.graphfilters > select {
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    font-family: Georgia, Times New Roman, Serif;
    width: 205px;
}

div#POSCC_Lowes1 > div > div.graphfilters {
    position: relative;
    left: 40px;
    top: 103px;
    display: block;
}

div#POSCC_Lowes1 > div > ul.graphradio {
    float: right;
    position: relative;
    right: 153px;
    display: none;
}

div#POSCC_Lowes1 > div > div.graph {
    width: 895px !important;
    height: 315px !important;
    display: block;
    font-size: 20px;
    color: black;
    margin-left: 33px;
    margin-top: 220px;
    outline: 0px solid #000;
    border: 0px solid red;

}

div#POSCC_Lowes1 > div > table.custom thead tr th, div#POSCC_Lowes1 > table.custom tfoot tr th {
    display: none;
}

div#POSCC_Lowes1 > div > table.custom {
    border: 0px solid #ababab;
    border-top: 0px solid #283e82;
    border-bottom: 0px solid #101c44;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 280px;
}

div#POSCC_Lowes1 > div > table.custom tr td {
    background-color: #FFFFFF;
    border-top: 1px solid #ababab;
    border-left: 0px;
    border-right: 0px;
    padding: 6px;
    text-align: left;
    color: #4C4C4C;
}

div#POSCC_Lowes1 > div > table.custom tr td:nth-child(1), div#POSCC_Lowes1 > div > table.custom tr td:nth-child(2) {
    display: none;
}

div.POSHeader {
    width: 732px !important;
    height: 50px !important;
    display: block;
    margin-left: 128px;
    margin-top: 200px;
    border: 0px solid red;

}

div.POSLightBlueTopBar {

    height: 50px;
    display: block;
    color: #1672C5;
    background-color: #EBECEE;
    border: 1px solid #ababab;
    border-bottom: 0px solid #ababab;
    float: left;
    overflow: hidden;
}

div.POSBlueInnerTopBarContainer {
    margin-top: 15px;
}

div.POSLightBlueInnerTopBar {

    color: #1672C5;
    text-align: center;
    font-size: 19px;
}

div.POSBlueTopBar {

    height: 50px;
    display: block;
    color: #FFFFFF;
    background-color: #0E76BD;
    border: 1px solid #ababab;
    border-bottom: 0px solid #ababab;
    float: left;
    overflow: hidden;
}

div.POSBlueInnerTopBar {

    color: #FFFFFF;
    text-align: center;
    font-size: 19px;
}

div#POS_Overview1 > div {
    background: url('../images/ENR_Lowes_POS_Overview1.jpg') no-repeat top left;
}

div#POS_Overview1 table.custom {
    width: 732px;
}

div#POS_Overview1 table.custom tbody tr td:nth-child(1), div#POS_Overview1 table.custom tbody tr td:nth-child(5) {
    text-align: center;
    color: #1672C5;
}

div#POS_Overview1 table.custom tbody tr td:nth-child(2), div#POS_Overview1 table.custom tbody tr td:nth-child(3), div#POS_Overview1 table.custom tbody tr td:nth-child(4) {
    padding-right: 32px;
}


div#TotalRetailValue, div#TotalProfit {
    position: absolute;
    margin-left: 851px;
    color: white;
    font-size: 20px;
}

div#TotalRetailValue {
    margin-top: 510px;
}

div#TotalProfit {
    margin-top: 540px;
}


/************************
PAR calculator table    
***********************/

table#tblENR_PAR_HD_All1 {
    margin-top: 215px;
    width: 936px;
    border: none;
}

    table#tblENR_PAR_HD_All1 tbody {
        max-height: 392px;
    }

    /*Hides the sort image*/
    table#tblENR_PAR_HD_All1 thead tr .header {
        background-image: none;
    }


table.PAR {
    display: block;
    background-image: none;
    border: 1px solid #000000;
    font-size: 14px;
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0px 0px 0px 0px;
}

    table.PAR thead tr th, table.PAR tfoot tr th {
        font-size: 12px;
        color: #FFFFFF;
        padding: 9px 10px;
        background-color: #075699;
        text-align: left;
    }

    table.PAR tr td {
        background-color: #FFFFFF;
        border: 1px solid #000000;
        padding: 5px;
        color: #3d3d3d;
    }


div#ParCalc1 > div > table thead tr th:nth-child(7), div#ParCalc1 > div > table thead tr th:nth-child(8) {
    display: none;
}

div#ParCalc1 > div > table tbody tr td:nth-child(7), div#ParCalc1 > div > table tbody tr td:nth-child(8) {
    display: none;
}

div#ParCalc1 > div > table tbody tr td:nth-child(1), div#ParCalc1 > div > table tbody tr td:nth-child(3),
div#ParCalc1 > div > table tbody tr td:nth-child(4), div#ParCalc1 > div > table tbody tr td:nth-child(5),
div#ParCalc1 > div > table tbody tr td:nth-child(6) {
    text-align: center;
}

div#ParCalc1 > div > table tbody tr td:nth-child(2) {
    text-align: left;
}

div#ParCalc1 > div > table thead tr th:nth-child(1), div#ParCalc1 > div > table thead tr th:nth-child(2),
div#ParCalc1 > div > table thead tr th:nth-child(3), div#ParCalc1 > div > table thead tr th:nth-child(4),
div#ParCalc1 > div > table thead tr th:nth-child(5), div#ParCalc1 > div > table thead tr th:nth-child(6) {
    border: none;
    color: black;
    background-color: white;
    text-transform: uppercase;
    font-size: 14px;
    /*border: 1px solid black;*/
}

div#ParCalc1 > div > table tbody tr td:nth-child(1), div#ParCalc1 > div > table tbody tr td:nth-child(2),
div#ParCalc1 > div > table tbody tr td:nth-child(3), div#ParCalc1 > div > table tbody tr td:nth-child(4),
div#ParCalc1 > div > table tbody tr td:nth-child(5), div#ParCalc1 > div > table tbody tr td:nth-child(6) {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px black dashed;
    font-size: 12px;
}

div#ParCalc1 > div > table thead tr th:nth-child(3) {
    color: #0F4C8A;
}

div#ParCalc1 > div > table thead tr th:nth-child(4) {
    color: #D8182D;
}

div#ParCalc1 > div > table thead tr th:nth-child(5) {
    color: #02A373;
}

div#ParCalc1 > div > table thead tr th:nth-child(6) {
    color: #367FC6;
}

#parCalcInput {
    background-color: #EDEDED;
    border: none;
    text-align: center;
}

div#divPCSummaryPacCalcTotal {
    position: absolute;
    margin-left: 908px;
    margin-top: 153px;
    width: 29px;
    height: 24px;
    color: white;
    font-size: 23px;
}

/*****************************
PAR calculator table  (end)   
******************************/

/*****************************
LAG calculator table     
******************************/
#FourTierHaircareRack {
    position: absolute;
    margin-top: 455px;
    margin-left: 210px;
    width: 78px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color:#e6e6e6;
    border: none;
}

#ClassicKeratinPallet {
    position: absolute;
    margin-top: 455px;
    margin-left: 544px;
    width: 78px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color:#e6e6e6;
    border: none;
}

#PureSidekick {
    position: absolute;
    margin-top: 455px;
    margin-left: 851px;
    width: 78px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color:#e6e6e6;
    border: none;
}
/*****************************
LAG calculator table  (end)   
******************************/


/**********************************
    Display Distribution displays_displaydistribution1
***********************************/



div#displays_displaydistribution1 table.custom tbody {
    border:0;
    border-left: 0;
    max-height: 190px;
}

div#displays_displaydistribution1 table.custom tbody tr td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

div#displays_displaydistribution1 table.custom tbody tr td:nth-child(2),
div#displays_displaydistribution1 table.custom tbody tr td:nth-child(3) {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    
}

div#displays_displaydistribution1 table.custom thead tr th {
    background-color: #25AEE4;
    font-size: 14px;
    text-align: center;
}

div#displays_displaydistribution1 table.custom thead tr th:nth-child(1) {
    background-color: #25AEE4;
    text-align: left;
    font-size: 16px;
}

div#displays_displaydistribution1 table.custom tr td {
    border-left: 0;
    border-bottom: 0;  
}

div#displays_displaydistribution1 table.custom {
    margin-top: 275px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border: 1px solid black;
    width: 608px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**********************************
    Display Distribution (end)
**********************************/