﻿.checkboximage.checked {
    background: url('../images/checked.jpg') no-repeat top left;
    width: 20px;
    height: 20px;
    margin: 7px;
}

.checkboximage {
    background: url('../images/unchecked.gif') no-repeat top left;
    width: 20px;
    height: 20px;
    margin: 7px;
}

body {
    background-color: White;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: dimGray;
}

div.pagediv {
    position: relative;
    background-color: White !important;
    -webkit-box-orient: horizontal;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

div.pagediv > div:first-child {
    position: absolute;
    background-position: top left;
    background-repeat: no-repeat;
    height: 679px;
    width: 988px;
    border: 0px solid red;
}

ul.inline {
    display: inline-block;
    padding: 2px 10px 3px 3px;
    color: #263F78;
}

ul[data=GRAPH_MOVEMENT_RADIO] li:not(:first-child) {
    padding-left: 15px;
}

ul.inline li {
    display: inline;
    list-style: none;
    margin: 0px 2px;
}

table[data] {
    overflow-y: auto;
}

td.jqplot-table-legend {
    font-size: 16px;
}

.StretchImage {
    width: 100%;
    height: 100%;
    border: 0 none;
}

.select {
    width: 230px;
    -webkit-border-radius: 4px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #263F78;
    margin-top: 100px;
    position: absolute;
    left: 10px;
    text-wrap: true;
}

/***********************************************************************************************/

div.graph {
    width: 700px !important;
    height: 400px !important;
    display: block;
    font-size: 18px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: black;
    margin-left: 275px;
    margin-top: 200px;
}

div.graphfilters {
    margin-left: 113px;
    margin-top: 125px;

}

.graphselect {
    width: 230px;
    -webkit-border-radius: 4px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #263F78;
    margin-top: 100px;
    position: absolute;
    left: 10px;
    text-wrap: true;
    font-size: 14px;
    color: #263F78;
    font-weight: bold;
    word-wrap: break-word;
}
/*.graphselect {
    width: 230px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #263F78;
    text-wrap: normal;
    font-size: 14px;
    font-weight: bold;
    background-color: #F1F1F2;

}*/

/*Custom*/

/*select {
    border: 1px solid #ccc;
    height: 34px;
    width: 250px;
    padding: 6px 12px;
    line-height: 1.42857143;
}*/

/*.graphfilters {
    position: relative;
    float: left;
}*/

/*.graphfilters:after {
    content: "▼";
    text-align: center;
    line-height: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 1px;
    top: 1px;
    pointer-events: none;
    background-color: #234186;
    color: #FFFFFF;
}*/

/*End custom*/

/***************************************************/

ul.graphradio {
    float: left;
    position: absolute;
    left: 10px;
    margin-top: 175px;

}

ul.graphradio span {
    vertical-align: text-bottom;
    font-size: 12px;
}

table.custom {
    display: block;
    background-image: none;
    border: 1px solid #ababab;
    border-top: 6px solid #283e82;
    border-bottom: 6px solid #101c44;
    font-size: 14px;
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0px 0px 0px 0px;
}

table.custom thead tr th, table.custom tfoot tr th {
    font-size: 12px;
    color: #FFFFFF;
    padding: 9px 10px;
    background-color: #075699;
    border: 1px solid #ababab;
    text-align: left;
}

table.custom tr td {
    background-color: #FFFFFF;
    border: 1px solid #ababab;
    padding: 5px;
    text-align: right;
    color: #3d3d3d;
}

table.custom span {
    display: block;
    font-size: 18px;
    border: 1px solid red;
}

table.custom tbody, table.custom thead {
    display: block;
    /* necessary? width: 100%; */
}

table.custom tbody {
    max-height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
}

